django==1.11.3
djangorestframework==3.6.3
markdown
django-filter
django-rest-auth
jsonfield
django-allauth
simple_salesforce
django-cors-headers
django-suit
django-polymorphic
django-rest-swagger
redis==2.10.5
Pillow
django-redis-sessions
jsbeautifier
drfdocs
coreapi
pygments==2.2.0
django-angular
gevent==1.2.2
psycogreen==1.0
django-grappelli==2.9.1
django-filebrowser
django-websocket-redis

