<style>
.editable-click {
	border-bottom: none;
	color: white;
}
</style>

<div style="color: white;" layout="row">
    <button class="btn btn-outline-primary"
            ng-click="vm.goToParentCategory()"
            style="min-height:42px">
        <span class="mdi-24px mdi mdi-arrow-left"></span>
        <md-tooltip>
            Go Back
        </md-tooltip>
    </button>
    <div class="md-display-1">Select Sub Catagory</div>
</div>
  

<div layout="row">
    <div flex="5">

    </div>
    <div flex="90" ng-cloak>
        <md-grid-list 
                md-cols="1" md-cols-sm="1" md-cols-md="2" md-cols-gt-md="3" md-cols-gt-lg="4"
                md-row-height-gt-md="1:1" md-row-height="1:1"
                md-gutter="18px" md-gutter-gt-sm="14px">
            <md-grid-tile ng-repeat="tile in vm.objectList | orderBy:'weight'"
                          ng-mouseenter="tile.hidden = false"
                          ng-mouseleave="tile.hidden = true"
                          md-rowspan="1"
                          md-colspan="2"
                          md-colspan-sm="2"
                          md-colspan-xs="1"
                          class="blackbg"
                          style="border-radius:25px"
                          md-whiteframe="3">
                <div layout-fill flex-offset="10" style="border-radius:25px">
                    <div layout-fill flex-offset="10" layout="column"
                         style="border-radius:25px">
                        <span flex="30"
							  style=""
							  layout="row"
							  layout-margin 
							  layout-padding>
 
								<i style="color:white;max-height:42px"
								   class="{{tile.icon.code}}">									
								</i>

							
							<div> 
								<md-tooltip>
									click to edit the title
								</md-tooltip>
								<span editable-text="tile.title"
									  style="color:white"
									  layout-wrap
									  onaftersave="vm.updateTitle(tile)"
									  layout="column">
									Display Title: <b>{{ tile.title }}</b>

								</span>
							</div>
                        </span>
                        <div flex="50" layout-wrap layout="row" layout-align="center center">
                            <span editable-text="tile.name"
                                  layout-margin
                                  layout-align="center center"
                                  onaftersave="vm.updateName(tile)">				
									Identifier Name: 
								<strong>{{ tile.name }}</strong>
									<md-tooltip>
										click to edit the unique name
									</md-tooltip>
							</span>
                            <span flex="20"></span>
                        </div>
                    </div>
                </div>
                <md-grid-tile-footer layout-padding
									 layout-align="end center"
									 style="border-radius: 0px 0px 25px 25px;">
                    
					<button class="btn btn-outline-primary" 
                               ng-show="tile.hidden === false"
                               ng-click="vm.selectListItem(tile.id, tile.parent)"
                               layout-align="center center">
                    	<i class="mdi mdi-arrow-right"></i>
                    </button>
                </md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>
    </div>
    <div flex="5">

    </div>
</div>