<div id="profile" class="page-layout simple tabbed">


    <section class="timeline-tab" flex>


        <div layout="row" layout-wrap>

            <span flex="5">
                &nbsp;
            </span>
            <div class="timeline" layout="column" flex="95">


                <h4>Examples Text Label with just a unique name and description.</h4>
                <div class="profile-box add-post md-whiteframe-1dp clear-bg glass-global" ak-frosted-glass>
                    <div class="form" flex>
                        <md-input-container>
                            <label>name</label>
                            <input ng-model="vm.RESTfulJSONPayload.name">
                        </md-input-container>

                        <textarea placeholder="description" translate
                                  ng-model="vm.RESTfulJSONPayload.description"></textarea>

                        <footer layout="row" layout-align="space-between center">
                            <div layout="row" layout-align="start center">

                            </div>

                            <md-button ng-click="vm.postNewObject()"
                                       class="post-button md-accent md-raised"
                                       aria-label="POST">
                                POST
                            </md-button>
                        </footer>
                    </div>
                </div>
                <md-divider></md-divider>
                <section>
    <span class="label md-blue-500-bg var-display">vm.jsonResponse</span>
    <pre  class="blueb">
        {{ vm.jsonResponse | json }}
    </pre>
</section>
                <div class="timeline-item md-whiteframe-1dp clear-bg glass-global"
                     ak-frosted-glass>

                    <header style="background-color: rgba(0,0,0,0.25)"
                            layout="row"
                            layout-align="space-between start">
                        <div class="user" layout="row" layout-align="start center">
                            <div layout="column">
                                <div class="title">
                                    <span class="username md-accent-color">Fruits in SQL</span>
                                </div>
                            </div>
                        </div>
                    </header>

                    <div class="content" flex ng-cloak style="background-color: rgba(0,0,0,0.20)">
                        <md-grid-list
                                md-cols="2"
                                md-cols-sm="3"
                                md-cols-md="4"
                                md-cols-gt-md="6"
                                md-row-height="1:1"
                                md-gutter="8px" md-gutter-gt-sm="4px">

                            <md-grid-tile ng-repeat="tile in vm.jsonResponse"
                                          md-rowspan="1"
                                          md-colspan="1"
                                          md-colspan-sm="1"
                                          md-colspan-xs="1"
                                          style="background-color: rgba(0,0,0,0.25)">

                                <md-button ng-click="vm.deleteObject(tile.name)">
                                    Delete {{tile.name}}
                                </md-button>

                                <md-grid-tile-footer><h3>{{tile.name}}</h3></md-grid-tile-footer>
                            </md-grid-tile>
                        </md-grid-list>
                    </div>

                    <footer style="background-color: rgba(255, 255, 255, 0.45)"
                            class=""
                            layout="column"
                            layout-align="start start">
                        <div class="comment" layout="row" layout-fill>
                            <div flex layout="column">
                                <h2 style="color: #0F192A">Fruit RESTful Form</h2>
                                <h3 style="color: #0F192A"><b>POST</b> : '/api/__ExamplesFruit/'</h3>
                                <div class="message" style="background-color: rgba(255, 255, 255, 0.20)">
<span class="label md-red-700-bg var-display">vm.RESTfulJSONPayload</span>
                                    <pre class="redb">
                                        {{ vm.RESTfulJSONPayload | json }}
                                    </pre>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
            <span flex>
                &nbsp;
            </span>
        </div>

    </section>


</div>


