

.clear-bg {
	background-color: rgba(0, 0, 0, 0) !important;
}
.ms-card .template-1 .media .image {
  width: 100%;
  border-radius: 2px 2px 0 0;
}
.ms-card .template-2 .header .avatar .image {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.ms-card .template-2 .media .image {
  width: 100%;
}
.ms-card .template-4 .info {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.54);
}
.ms-card .template-4 .media {
  z-index: 1;
}
.ms-card .template-4 .media .image {
  width: 100%;
}
.ms-card .template-5 .media {
  width: 80px;
  min-width: 80px;
  max-width: 80px;
}
.ms-card .template-5 .info, .ms-card .template-5 .media {
  -ms-flex: 0 1 auto;
}
.ms-card .template-8 .media .image {
  width: 100%;
  border-radius: 2px 2px 0 0;
}
.ms-card .template-9 .header .avatar .image {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.ms-card .template-9 .media .image {
  width: 100%;
}
.ms-card .template-10 .media {
  width: 80px;
  min-width: 80px;
  max-width: 80px;
}

