<!-- SIDENAV HEADER -->
<div class="header md-accent-bg" layout="column" layout-align="space-between">
    <div class="toolbar" layout="row" layout-align="end center">
        <md-button class="md-icon-button" ng-click="vm.delete()" aria-label="Delete" translate
                   translate-attr-aria-label="FM.DELETE">
            <md-icon md-font-icon="icon-delete"></md-icon>
            <md-tooltip><span translate="FM.DELETE">Delete</span></md-tooltip>
        </md-button>

        <md-button class="md-icon-button" aria-label="Download" translate translate-attr-aria-label="FM.DOWNLOAD">
            <md-icon md-font-icon="icon-download"></md-icon>
            <md-tooltip><span translate="FM.DOWNLOAD">Download</span></md-tooltip>
        </md-button>

        <md-button class="md-icon-button" aria-label="More" translate translate-attr-aria-label="FM.MORE">
            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
            <md-tooltip><span translate="FM.MORE">More</span></md-tooltip>
        </md-button>
    </div>

    <div ng-show="vm.selectedMod">
        <div class="title">{{vm.selectedMod}}</div>
        <div class="subtitle secondary-text"> {{vm.files.length}} <span> total units </span></div>
    </div>

    <div ng-hide="vm.selectedMod">
        <div class="title">Pick a mod to get started.</div>
    </div>
</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<md-content class="content" flex ms-scroll>

    <div class="file-details">

        <br>

        <div layout="column" layout-align="center center">
            <img md-whiteframe="1"
                 src="/static/mods/{{vm.selectedMod}}/unitpics/{{vm.selected['UnitName'].toLowerCase()}}.png">

            <md-button ng-click="vm.dialogShowRawFbi()">
                {{vm.selected['UnitName']}} fbi file
            </md-button>
        </div>

        <!--
        <md-list class="offline-switch">
            <md-list-item>
                <p translate="FM.AVAILABLE_OFFLINE">Available Offline</p>
                <md-switch class="md-secondary" ng-model="vm.selected.offline" aria-label="Toggle offline" translate
                           translate-attr-aria-label="FM.TOOGLE_OFFLINE"></md-switch>
            </md-list-item>
        </md-list>
        -->


        <div class="title">Info</div>

        <table>
            <tr class="type">
                <th>Name</th>
                <td>{{vm.selected['Name']}}</td>
            </tr>

            <tr class="type">
                <th>Class</th>
                <td>{{vm.selected['Class']}}</td>
            </tr>

            <tr class="size">
                <th>HP</th>
                <td>{{vm.selected['MaxDamage'] === '' ? '-': vm.selected['MaxDamage']}}</td>
            </tr>

            <tr class="size">
                <th>Size X</th>
                <td>{{vm.selected['FootprintX'] === '' ? '-': vm.selected['FootprintX']}}</td>
            </tr>

            <tr class="size">
                <th>Size Z</th>
                <td>{{vm.selected['FootprintZ'] === '' ? '-': vm.selected['FootprintZ']}}</td>
            </tr>

            <tr class="location">
                <th>Designation</th>
                <td>{{vm.selected['Designation']}}</td>
            </tr>

            <tr class="owner">
                <th>Owner</th>
                <td>{{vm.selected['Side']}}</td>
            </tr>

            <tr class="modified">
                <th>TurnRate</th>
                <td>{{vm.selected['TurnRate']}}</td>
            </tr>

            <tr class="opened">
                <th>BuildCostMetal</th>
                <td>{{vm.selected['BuildCostMetal']}}</td>
            </tr>

            <tr class="created">
                <th>BuildCostEnergy</th>
                <td>
                    <div class="md-accent-bg unread-message-count ng-binding ng-scope">
                        {{vm.selected['BuildCostEnergy']}}
                    </div>
                </td>
            </tr>

            <tr class="created">
                <th>BuildCostMetal</th>
                <td>{{vm.selected['BuildCostMetal']}}</td>
            </tr>
            <tr class="created">
                <th>BuildCostEnergy</th>
                <td>{{vm.selected['BuildCostEnergy']}}</td>
            </tr>
            <tr class="created">
                <th>TurnRate</th>
                <td>{{vm.selected['TurnRate']}}</td>
            </tr>
            <tr class="created">
                <th>Category</th>
                <td>{{vm.selected['Category']}}</td>
            </tr>
            <tr class="created">
                <th>Description</th>
                <td>{{vm.selected['Description']}}</td>
            </tr>
            <tr class="created">
                <th>Side</th>
                <td>{{vm.selected['Side']}}</td>
            </tr>
            <tr class="created">
                <th>BadTargetCategory</th>
                <td>{{vm.selected['BadTargetCategory']}}</td>
            </tr>
            <tr class="created">
                <th>wpri_badTargetCategory</th>
                <td>{{vm.selected['wpri_badTargetCategory']}}</td>
            </tr>
            <tr class="created">
                <th>BuildCostEnergy</th>
                <td>{{vm.selected['BuildCostEnergy']}}</td>
            </tr>
            <tr class="created">
                <th>SelfDestructAs</th>
                <td>{{vm.selected['SelfDestructAs']}}</td>
            </tr>
            <tr class="created">
                <th>EnergyStorage</th>
                <td>{{vm.selected['EnergyStorage']}}</td>
            </tr>
            <tr class="created">
                <th>MaxSlope</th>
                <td>{{vm.selected['MaxSlope']}}</td>
            </tr>
            <tr class="created">
                <th>MaxDamage</th>
                <td>{{vm.selected['MaxDamage']}}</td>
            </tr>
            <tr class="created">
                <th>ThreeD</th>
                <td>{{vm.selected['ThreeD']}}</td>
            </tr>
            <tr class="created">
                <th>GermanDescription</th>
                <td>{{vm.selected['GermanDescription']}}</td>
            </tr>
            <tr class="created">
                <th>Acceleration</th>
                <td>{{vm.selected['Acceleration']}}</td>
            </tr>
            <tr class="created">
                <th>NoChaseCategory</th>
                <td>{{vm.selected['NoChaseCategory']}}</td>
            </tr>
            <tr class="created">
                <th>FootprintZ</th>
                <td>{{vm.selected['FootprintZ']}}</td>
            </tr>
            <tr class="created">
                <th>BMcode</th>
                <td>{{vm.selected['BMcode']}}</td>
            </tr>
            <tr class="created">
                <th>firestandorders</th>
                <td>{{vm.selected['firestandorders']}}</td>
            </tr>
            <tr class="created">
                <th>NoAutoFire</th>
                <td>{{vm.selected['NoAutoFire']}}</td>
            </tr>
            <tr class="created">
                <th>TEDClass</th>
                <td>{{vm.selected['TEDClass']}}</td>
            </tr>
            <tr class="created">
                <th>Designation</th>
                <td>{{vm.selected['Designation']}}</td>
            </tr>
            <tr class="created">
                <th>maneuverleashlength</th>
                <td>{{vm.selected['maneuverleashlength']}}</td>
            </tr>
            <tr class="created">
                <th>UnitNumber</th>
                <td>{{vm.selected['UnitNumber']}}</td>
            </tr>
            <tr class="created">
                <th>SoundCategory</th>
                <td>{{vm.selected['SoundCategory']}}</td>
            </tr>
            <tr class="created">
                <th>EnergyMake</th>
                <td>{{vm.selected['EnergyMake']}}</td>
            </tr>
            <tr class="created">
                <th>canmove</th>
                <td>{{vm.selected['canmove']}}</td>
            </tr>
            <tr class="created">
                <th>DefaultMissionType</th>
                <td>{{vm.selected['DefaultMissionType']}}</td>
            </tr>
            <tr class="created">
                <th>Weapon1</th>
                <td>{{vm.selected['Weapon1']}}</td>
            </tr>
            <tr class="created" ng-if="vm.selected['Weapon2']">
                <th>Weapon2</th>
                <td>{{vm.selected['Weapon2']}}</td>
            </tr>
            <tr class="created" ng-if="vm.selected['Weapon3']">
                <th>Weapon3</th>
                <td>{{vm.selected['Weapon3']}}</td>
            </tr>
            <tr class="created">
                <th>MetalStorage</th>
                <td>{{vm.selected['MetalStorage']}}</td>
            </tr>
            <tr class="created">
                <th>ZBuffer</th>
                <td>{{vm.selected['ZBuffer']}}</td>
            </tr>
            <tr class="created">
                <th>ShootMe</th>
                <td>{{vm.selected['ShootMe']}}</td>
            </tr>
            <tr class="created">
                <th>Version</th>
                <td>{{vm.selected['Version']}}</td>
            </tr>
            <tr class="created">
                <th>ExplodeAs</th>
                <td>{{vm.selected['ExplodeAs']}}</td>
            </tr>
            <tr class="created">
                <th>EnergyUse</th>
                <td>{{vm.selected['EnergyUse']}}</td>
            </tr>
            <tr class="created">
                <th>StandingFireOrder</th>
                <td>{{vm.selected['StandingFireOrder']}}</td>
            </tr>
            <tr class="created">
                <th>canattack</th>
                <td>{{vm.selected['canattack']}}</td>
            </tr>

            <tr class="created">
                <th>Upright</th>
                <td>{{vm.selected['Upright']}}</td>
            </tr>
            <tr class="created">
                <th>canguard</th>
                <td>{{vm.selected['canguard']}}</td>
            </tr>
            <tr class="created">
                <th>FootprintX</th>
                <td>{{vm.selected['FootprintX']}}</td>
            </tr>
            <tr class="created">
                <th>MovementClass</th>
                <td>{{vm.selected['MovementClass']}}</td>
            </tr>
            <tr class="created">
                <th>Builder</th>
                <td>{{vm.selected['Builder']}}</td>
            </tr>
            <tr class="created">
                <th>FrenchDescription</th>
                <td>{{vm.selected['FrenchDescription']}}</td>
            </tr>
            <tr class="created">
                <th>BuildTime</th>
                <td>{{vm.selected['BuildTime']}}</td>
            </tr>
            <tr class="created">
                <th>Name</th>
                <td>{{vm.selected['Name']}}</td>
            </tr>
            <tr class="created">
                <th>BrakeRate</th>
                <td>{{vm.selected['BrakeRate']}}</td>
            </tr>
            <tr class="created">
                <th>MaxVelocity</th>
                <td>{{vm.selected['MaxVelocity']}}</td>
            </tr>
            <tr class="created">
                <th>Copyright</th>
                <td>{{vm.selected['Copyright']}}</td>
            </tr>
            <tr class="created">
                <th>MaxWaterDepth</th>
                <td>{{vm.selected['MaxWaterDepth']}}</td>
            </tr>
            <tr class="created">
                <th>RadarDistance</th>
                <td>{{vm.selected['RadarDistance']}}</td>
            </tr>
            <tr class="created">
                <th>Corpse</th>
                <td>{{vm.selected['Corpse']}}</td>
            </tr>
            <tr class="created">
                <th>canpatrol</th>
                <td>{{vm.selected['canpatrol']}}</td>
            </tr>
            <tr class="created">
                <th>StandingMoveOrder</th>
                <td>{{vm.selected['StandingMoveOrder']}}</td>
            </tr>
            <tr class="created">
                <th>mobilestandorders</th>
                <td>{{vm.selected['mobilestandorders']}}</td>
            </tr>
            <tr class="created">
                <th>WorkerTime</th>
                <td>{{vm.selected['WorkerTime']}}</td>
            </tr>
            <tr class="created">
                <th>
                    <div class="label ng-binding ng-scope md-blue-grey-500-bg">UnitName</div>
                </th>
                <td>{{vm.selected['UnitName']}}</td>
            </tr>
            <tr class="created">
                <th>SightDistance</th>
                <td>{{vm.selected['SightDistance']}}</td>
            </tr>
            <tr class="created">
                <th>SteeringMode</th>
                <td>{{vm.selected['SteeringMode']}}</td>
            </tr>
            <tr class="created">
                <th>canstop</th>
                <td>{{vm.selected['canstop']}}</td>
            </tr>
            <tr class="created">
                <th>Objectname</th>
                <td>{{vm.selected['Objectname']}}</td>
            </tr>
            <tr class="created">
                <th>BuildCostEnergy</th>
                <td>{{vm.selected['BuildCostEnergy']}}</td>
            </tr>


        </table>
    </div>

</md-content>
<!-- / SIDENAV CONTENT -->