.md-hover-button-amber-dark-bg:hover {
    background-color: rgb(255, 171, 0) !important;
    border-color: rgb(255, 171, 0) !important;
    color: rgb(60, 66, 82) !important;
}

.md-hover-button-amber-dark-bg {
    border-style: solid !important;
    border-width: 1px !important;
    color: rgb(255, 171, 0) !important;
    border-color: rgb(255, 171, 0) !important;
}