<div id="profile" class="page-layout simple tabbed">


    <section class="timeline-tab" flex>


        <div layout="row" layout-wrap>


            <div class="timeline" layout="column" flex="100" flex-gt-sm="55" flex-gt-md="65" flex-order="2"
                 flex-order-gt-sm="1">


                <div class="profile-box add-post md-whiteframe-1dp clear-bg glass-global" ak-frosted-glass>
                    <div class="form" flex>
                <textarea placeholder="Write something.." translate ng-model="vm.toastMsg"
                          translate-attr-placeholder="PROFILE.WRITE_SOMETHING"></textarea>

                        <footer layout="row" layout-align="space-between center">
                            <div layout="row" layout-align="start center">

                            </div>

                            <md-button ng-click="vm.addToastToQueue()" class="post-button md-accent md-raised"
                                       aria-label="POST"
                                       translate="PROFILE.POST" translate-attr-aria-label="PROFILE.POST">
                                POST
                            </md-button>
                        </footer>
                    </div>
                </div>


                <md-divider></md-divider>

                <div class="timeline-item md-whiteframe-1dp clear-bg glass-global" ng-repeat="post in vm.posts"
                     ak-frosted-glass>

                    <header layout="row" layout-align="space-between start">
                        <div class="user" layout="row" layout-align="start center">
                            <div layout="column">
                                <div class="title">
                                    <span class="username md-accent-color">Fruits in SQL</span>
                                </div>
                            </div>
                        </div>
                    </header>

                    <div class="content" flex ng-cloak>

                    </div>

                    <footer class="" layout="column" layout-align="start start">
                        <div class="comment" layout="row" layout-fill>
                            <div flex layout="column">
                                <div class="message">
                                    {{ Blog.results }}
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>

    </section>


</div>


                        <md-grid-list
                                md-cols="1"
                                md-cols-sm="2"
                                md-cols-md="3"
                                md-cols-gt-md="6"
                                md-row-height="1:1"
                                md-gutter="8px"
                                md-gutter-gt-sm="4px">

<!--
md-cols-gt-md="8"
    (fits 8 total cols with a 1x1 colspans)


KEEP TILES AS A SQUARE:
md-row-height="1:1"
SAME AS
md-row-height="3:3"


KEEP TILES WIDE:
md-row-height="16:9"
-->

                            <md-grid-tile ng-repeat="tile in vm.tiles"
                                          md-rowspan="{{tile.span.row}}"
                                          md-colspan="{{tile.span.col}}"
                                          md-colspan-xs="1"
                                          ng-class="tile.background">
                                <md-icon md-svg-icon="{{tile.icon}}"></md-icon>
                                <md-grid-tile-footer>
                                    <h3>{{tile.title}}</h3>
                                    <h5>row: {{tile.span.row}} col: {{tile.span.col}}</h5>
                                </md-grid-tile-footer>
                            </md-grid-tile>
                        </md-grid-list>