<span  ng-include= "'/moho_extractor/NgIncludedHtml/?name=CSS_OS_X'" ></span>

<!-- This is a hack to resolve angular tree data directive bug -->
<!-- ng-include does nothing special here except that it creates an alias named "nodes_renderer.html" -->
<script type="text/ng-template" id="nodes_renderer.html">
	<span ng-include="'/moho_extractor/NgIncludedHtml/?name=leftSideTreeNavClone01'"></span>
</script>
<!-- Import some extra themes: -->
<span ng-include="'/moho_extractor/NgIncludedHtml/?name=codeMirrorCSSImporterClone01'"></span>

<!-- Import window modal HTML: -->
<span ng-if="vm.treeModalIsVisible" ng-include= "'/moho_extractor/NgIncludedHtml/?name=editorModalTmplsClone01'"></span>

<!-- VM property viewer: -->
<span ng-include="'/moho_extractor/NgIncludedHtml/?name=controllerVmPropertiesClone01'"></span>


<link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">




<!-- SRC CODE MAPPER -->
				<div class="console-window" ng-if="vm.consoleOpen" style="width: 2000px">
				<input type="text" placeholder="Lookup Source Code..." ng-model="vm.srcMapInput">
				<button class="btn btn-default" ng-click="vm.testGetMap()">FETCH CODE</button>
					<button class="btn btn-default" ng-click="vm.consoleOpen = !vm.consoleOpen">close console</button>
					<button class="btn btn-default" ng-click="vm.consoleMode = !vm.consoleMode">toggle code/mapping</button>
					<pre style="color:limegreen"
						 ng-if="vm.consoleMode">{{ vm.srcMap | json }}</pre>
					<section ng-if="!vm.consoleMode" style="width: 2000px">
						<pre style="color:yellow"
							 >{{ vm.queryiedSrc }}</pre>
						</pre>
					</section>
				</div>
				<style>
					.console-window {
						position: fixed;
						z-index: 7000;
						top:200px;
						left:100px;
						width: 1000px !important;
						height: 1200px;
						background-color: rgba(0,0,0,0.85);
					}
				</style>
<!--/SRC CODE MAPPER -->





<div style="height: 22px; max-height: 22px; min-height: 22px;"  
	 class="heading-bar2" 
	 layout="row">

	<button class="btn btn-outline-primary" 
			style="padding:0px; height:18px; width:18px; margin-left:1px; margin-top:1px;"
			ng-click="vm.goBackToExplorerHome()"> 
		<span class="mdi-12px mdi mdi-bank" 
			  style="font-size:1.0em"></span>
		<md-tooltip>
			Return To Explorer Home  
		</md-tooltip>
	</button>
	<span>&nbsp;</span>
	<span ng-if="!vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].class">No Document Opened</span>
	{{vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].class}}&nbsp;&nbsp;
	<span ng-if="-1 !== vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].name">
		{{vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].name}}
	</span>
</div>


<div class="page-layout carded left-sidenav opaque-global" layout="row" layout-align="center stretch">
	<!-- SIDENAV -->
	<md-sidenav class=""
				md-is-locked-open="vm.sideNavLocked"
				md-component-id="sidenav"
				ms-scroll
				layout-fill
				flex-xs="50"
				flex-sm="40"
				flex-md="30"
				flex-lg="25"
				flex-gt-lg="20"
				ms-sidenav-helper>
		<!-- SIDENAV HEADER -->

		<!-- / SIDENAV HEADER -->
		<div style="margin-top:1px" layout="row">
			<span class="font-weight-700" ng-if="vm.objectList.name" style="color:white">
				{{ vm.objectList.name }}
			</span>
			<span flex="50">&nbsp;</span>
			<button class="toolbar-button" 
					style="padding:0px; height:15px; width:15px"
					ng-click="vm.sideNavLocked=!vm.sideNavLocked"> 
				<span class="mdi-12px mdi mdi-arrow-expand-right" 
					  style="font-size:1.0em"
					  ng-if="vm.sideNavLocked===false"></span>
				<span class="mdi-12px mdi mdi-arrow-expand-left" 
					  style="font-size:1.0em"
					  ng-if="vm.sideNavLocked===true"></span>
				<md-tooltip>
					Toggle Side Navigation
				</md-tooltip>
			</button> 

		</div>
		<!-- SIDENAV CONTENT -->
		<md-content
					style="padding: 0px; margin-top:2px"
					class="white-bg-new"
					flex 
					ms-scroll>
			<!-- DEMO SIDENAV -->
			<div ui-tree id="tree-root" data-drop-enabled="false" data-drag-enabled="false">
				<!-- start slipsum code -->
				<ol ui-tree-nodes
					ng-model="vm.treeData"
					layout="column"
					layout-fill>
					<li ng-repeat="node in vm.treeData" 
						ui-tree-node
						ng-include="'/moho_extractor/NgIncludedHtml/?name=leftSideTreeNavClone01'">

					</li>
				</ol> 
				<!-- end slipsum code -->


				<!-- SRC CODE MAPPER -->
				<button class="btn btn-default" ng-click="vm.consoleOpen = !vm.consoleOpen">toggle console</button>
				<button class="btn btn-default" ng-click="vm.loadOSXDoc();">init</button>
				<!--/SRC CODE MAPPER -->
			</div>
			<!-- / DEMO SIDENAV -->



		</md-content>
		<!-- / SIDENAV CONTENT -->
	</md-sidenav>
	<!-- / SIDENAV -->
	<!-- CENTER -->
	<div layout="column" flex >
		<!-- CONTENT HEADER -->
		<div class="glass-global" 
			 flex="5"
			 layout="row"
			 layout-align="start center"
			 style="height: 22px; max-height: 22px; min-height: 22px; color:white">

			<span flex>

				&nbsp;&nbsp;&nbsp;
				<span class="h4">
					Open In API: 
				</span>
				<span class="mdi-12px badge badge-dark mdi mdi-chevron-right">
				</span>
				<span class="h4">
					/krogoth_gantry/viewsets/AKFoundation/{{vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].id}}/
				</span>
				<span class="mdi-12px badge badge-dark mdi mdi-chevron-right">
				</span>
				<span class="h4">
					<a class="toolbar-button" 
					   style="padding:0px; height:16px; width:21px; margin-left:8px;" 
					   target="_blank"
					   href="/krogoth_gantry/viewsets/AKFoundation/{{vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].id}}/"> 
						<i class="entypo entypo-cloud-thunder" style="font-size:1.1em;margin-left:2px;"></i>
						<md-tooltip>
							Open Link
						</md-tooltip>
					</a>
				</span>
				<span flex="20">
				</span>

			</span>

		</div>
		<!-- / CONTENT HEADER -->
		<!-- CONTENT CARD -->
		<div class="content-card glass-global" layout="column" flex >


			<!-- CONTENT TOOLBAR -->
			<div layout="row"
				 class="panel panel-heading"
				 ng-include="'/moho_extractor/NgIncludedHtml/?name=codeToolbarIDEClone01'"
				 layout-align="start center">
			</div>
			<!-- / CONTENT TOOLBAR -->


			<!-- CONTENT -->
			<md-content class="contentosx"
						style="height:95%; background-color: rgba(0,0,0,0.9);">
				<div class="container-fluid container-maverix ">
					<ui-codemirror
								   ui-codemirror-opts="vm.editorOptions"
								   ui-codemirror="{onLoad:vm.codemirrorLoaded}">
					</ui-codemirror>
					<span ng-if="vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].class==='NgIncludedHtml'">
						<div>
							Import This Partial Into Your Master/Slave ViewHTML 
						</div>

						<hljs language="html" class="source-code">
							<span ng-include="'/moho_extractor/NgIncludedHtml/?name=HTML_TMPL_ID'"></span>
						</hljs>
						<h4 ng-if="vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].class='NgIncludedHtml'">
							&lt;span
							<span style="color:green">&nbsp;ng-include=</span>
							<span style="color:red">"'/moho_extractor/NgIncludedHtml/?name={{ vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].name.replace("/moho_extractor/NgIncludedHtml/?name=", "") }}'"</span>&gt;&lt;/span&gt;
						</h4>
					</span>
				</div>
			</md-content>
			<!-- / CONTENT -->
		</div>
		<!-- / CONTENT CARD -->
	</div>
	<!-- / CENTER -->
</div> 


<style>

	.bread_crubs_new {
		padding: 3px !important;
		font-size: 13px !important;
		color: #39090a !important;
		border: 1px solid #9b9b9b !important;
		border-top: 1px solid #8e8e8e !important;
		border-bottom: 1px solid #afafaf !important;
		-moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2) !important;
		box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2) !important
	}


	.ide-tool-btn {

		line-height: 1.1 !important;

	}


	button:hover {
		color: black !important;
	}
	.CodeMirror {
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		font-family: Ubuntu Mono !important; 
		font-size: 14px !important; 
	}	 
	.CodeMirror-code {
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		font-family: Ubuntu Mono !important; 
		font-size: 14px !important; 
	}

	div.heading-bar2 {
		background-image: -o-linear-gradient(-89deg, #efeef1 0, #d5d9dc 100%);
		background-image: -moz-linear-gradient(-89deg, #efeef1 0, #d5d9dc 100%);
		background-image: -ms-linear-gradient(-89deg, #efeef1 0, #d5d9dc 100%);
		background-image: linear-gradient(-179deg, #efeef1 0, #d5d9dc 100%);
		border-bottom: 1px solid #c2c2c2;
		height: 44px;
		padding: 1px
	}


	/** OVERRIDE SELECTED TEXT HIGHLIGHT COLOR FOR THEMES: **/
	.cm-s-isotope.CodeMirror {
		background: rgba(0,0,0,0.50);
		color: #e0e0e0;
	}
	/* isotope theme */
	.cm-s-isotope div.CodeMirror-selected {
		background: #0004FF !important;
	}
	/* colorforth theme */
	.cm-s-colorforth div.CodeMirror-selected {
		background: #0004FF !important;
	}
	/* 3024-night theme */
	.cm-s-3024-night div.CodeMirror-selected {
		background: #0004FF !important;
	}

	/** - - - - - **/
</style>