*.pyc
.DS_Store
/chat/migrations
/krogoth_3rdparty_api/migrations
/krogoth_examples/migrations
/krogoth_apps/migrations
/krogoth_social/migrations
/moho_extractor/migrations
/kbot_lab/migrations
/LazarusIII/migrations
/LazarusIV/migrations
/LazarusV/migrations