django
djangorestframework
markdown
django-filter
django-rest-auth
django-cors-headers
django-suit
django-polymorphic
django-rest-swagger
redis
Pillow
django-redis-sessions
jsbeautifier
drfdocs
coreapi
pygments
gevent
django-websocket-redis
django-redis
django_extensions
pyScss
uwsgi
django-allauth