ak-frosted-glass


<div class="page-layout carded left-sidenav" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- SIDENAV -->
    <md-sidenav class="sidenav glass-test"
                md-is-locked-open="$mdMedia('gt-md')"
                md-component-id="sidenav"
                ms-scroll
                ms-sidenav-helper>

        <!-- SIDENAV HEADER -->
        <div class="header">
            <p>Sidenav header</p>
        </div>
        <!-- / SIDENAV HEADER -->

        <!-- SIDENAV CONTENT -->
        <md-content class="content" flex ms-scroll>

            <!-- DEMO SIDENAV -->
            <div>
                <!-- start slipsum code -->
                <h5>FAILS</h5>
                <pre>
                    {{ failLog | json }}
                </pre>

                <h5>SUCCESS</h5>
                <pre>
                    {{ successLog | json }}
                </pre>
                <!-- end slipsum code -->
            </div>
            <!-- / DEMO SIDENAV -->

        </md-content>
        <!-- / SIDENAV CONTENT -->

    </md-sidenav>
    <!-- / SIDENAV -->

    <!-- CENTER -->
    <div class="center" layout="column" flex>

        <!-- CONTENT HEADER -->
        <div class="header" layout="row">
            <div>
                <span class="h2 white-fg">Left sidenav with independent scroll</span>
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar" layout="row" layout-align="start center" style="color:black">
                <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('sidenav')" hide-gt-md
                           aria-label="Toggle left sidenav">
                    <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
                </md-button>

                <p>Content toolbar</p>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <md-content class="content glass-test" flex ms-scroll>

                <!-- DEMO CONTENT -->
                <div>
                    <!-- start slipsum code -->
                    <md-button ng-click="parallel()">parallel</md-button>
                    <md-button ng-click="series()">series</md-button>
                    <md-button ng-click="parallel(true)">parallel w/failure</md-button>
                    <md-button ng-click="series(true)">series w/failure</md-button>
                    <md-button ng-click="messages = []">Clear log</md-button>

                    <h2>Log</h2>
                    <ul>
                        <li ng-repeat="msg in messages">{{msg}}</li>
                    </ul>
                    <!-- end slipsum code -->
                </div>
                <!-- / DEMO CONTENT -->

            </md-content>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>