<!-- BLUE SECTOR -->
<section layout="column" layout-align="center stretch" class="MasterWrapper">
    <div flex="20" layout="row" layout-align="space-around stretch"
         class="md-primary-bg md-hue-3 SlaveWrapper">
        <div flex></div>
        <div flex="80" layout="column" layout-align="center center">
            <span class="md-headline">It works!</span>
            <span class="md-subheading">ArmPrime has been installed successfully.</span>
            <md-button ng-click="vm.sendMsg()">
                test socket
            </md-button>
        </div>
        <div flex></div>
    </div>


</section>

<section layout="column" layout-align="center stretch" class="MasterWrapper">
    <div flex="20" layout="row" layout-align="space-around stretch"
         class="md-primary-bg md-hue-3 SlaveWrapper">
        <div flex>
        </div>
        <div flex="80" layout="column" layout-margin layout-padding>
            <p>
                This landing page is fully responsive! Scroll down for more info.
            </p>
        </div>
        <div flex>
        </div>
    </div>
</section>

<section layout="column" layout-align="center stretch" class="MasterWrapper">
    <div flex="20" layout="row" layout-align="space-around stretch"
         class="md-accent-bg md-hue-3 SlaveWrapper">
        <div flex>
        </div>
        <div flex="80" layout="column" layout-margin layout-padding>
            <p>
                You can edit this Angular view from Django Administration:
            </p>
            <md-button class="md-hover-button-amber-dark-bg"
                       aria-label="admin panel"
                       ng-click="window.location('/admin_a9k/krogoth_gantry/djangularmasterviewcontroller/');">
                Launch admin panel
            </md-button>
        </div>
        <div flex>
        </div>
    </div>
</section>


<style>
    .MasterWrapper {
        width: 100%;
        height: 100%;
    }

    .SlaveWrapper {
        width: 100%;
        height: 100%;
    }

    .md-hover-button-amber-dark-bg:hover {
        background-color: rgb(255, 171, 0) !important;
        border-color: rgb(255, 171, 0) !important;
        color: rgb(60, 66, 82) !important;
    }

    .md-hover-button-amber-dark-bg {
        border-style: solid !important;
        border-width: 1px !important;
        color: rgb(255, 171, 0) !important;
        border-color: rgb(255, 171, 0) !important;
    }

    .VideoWrapperMaster {
        position: absolute;
        top: -100;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 8;
    }

    .VideoWrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 9;
    }
</style>