<style>

.fix-to-bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
}

/*
.CodeMirror {
height: auto;
}
.CodeMirror-scroll {
max-height: 1440px;
}
*/

.MasterWrapper {
    width: 100%;
    height: 100%;
}

</style>
<md-content class="MasterWrapper" layout="row">
	<md-card flex="80" ms-scroll class="scrollable" >
		<md-tabs md-dynamic-height md-border-bottom>
			  <md-tab label="{{vm.editorContent['name']}} View">
				<md-content class="md-padding">
					<p>vm.editorContent['name']</p>
					  <ui-codemirror ui-codemirror-opts="vm.editorOptions2" 
									 ui-codemirror="{onLoad:vm.codemirrorLoadedView}">
					  </ui-codemirror>
				</md-content>
			  </md-tab>
			  <md-tab label="{{vm.editorContent['name']}} Controller">
				<md-content class="md-padding">
					<p>vm.editorContent['name']</p>
					<ui-codemirror ui-codemirror-opts="vm.editorOptions" 
								   ui-codemirror="{onLoad:vm.codemirrorLoaded}">
					</ui-codemirror>
				</md-content>
			  </md-tab>
			  <md-tab label="{{vm.editorContent['name']}} Module">
				<md-content class="md-padding">
					<p>vm.editorContent['name']</p>
				    <ui-codemirror ui-codemirror-opts="vm.editorOptions3" 
								   ui-codemirror="{onLoad:vm.codemirrorLoadedModule}">
					</ui-codemirror>
				</md-content>
			  </md-tab>
		</md-tabs>
	</md-card>
	<md-card flex="20" layout="column"flex="20" layout="column" ms-scroll class="scrollable" style="max-height:900px">		
		<md-button ng-click="vm.getMasterViewControllers()" 
				   class="md-hover-button-amber">
			Get Master Views
		</md-button>
		<md-button ng-click="vm.highlightKeyword('$http'); vm.highlightVm()" 
				   class="md-hover-button-amber">
			Highlight VM
		</md-button>
		<md-button ng-click="vm.collectStaticGET()" 
				   class="md-hover-button-blue">
			Collect Static
		</md-button>
		<md-button ng-click="vm.putMasterViewControllerDetail();" 
				   class="md-hover-button-purple"
				   ng-show="vm.docWasModified === true">
			Save
		</md-button>
		<md-button class="md-hover-button-gray"
				   ng-click="vm.putMasterViewControllerDetail();" 
				   ng-show="vm.docWasModified === false">
			Save
		</md-button>
		<md-button style="font-size:10px"
				   class="md-primary-fg md-hue-2"
				   ng-repeat="mvc in vm.data"
				   ng-click="vm.getMasterViewControllerDetail(mvc['id'])">
				{{ mvc['title'] }}
		</md-button>
	</md-card>
</md-content>

<style>
    .md-hover-button-purple:hover {
        background-color: rgb(124,77,255) !important;
        border-color: rgb(124,77,255) !important;
		color: rgb(60,66,82) !important;
    }
    .md-hover-button-purple {
        border-style: solid !important;
        border-width: 1px !important;
		color: rgb(124,77,255) !important;
        border-color: rgb(124,77,255) !important;
    }

    .md-hover-button-amber:hover {
        background-color: rgb(255,171,0) !important;
        border-color: rgb(255,171,0) !important;
		color: rgb(60,66,82) !important;
    }
    .md-hover-button-amber {
        border-style: solid !important;
        border-width: 1px !important;
		color: rgb(255,171,0) !important;
        border-color: rgb(255,171,0) !important;
    }
	
    .md-hover-button-gray:hover {
        background-color: gray !important;
        border-color: gray !important;
		color: rgb(60,66,82) !important;
    }
    .md-hover-button-gray {
        border-style: solid !important;
        border-width: 1px !important;
		color: gray !important;
        border-color: gray !important;
    }
	
    .md-hover-button-blue:hover {
        background-color: rgb(41,98,255) !important;
        border-color: rgb(41,98,255) !important;
		color: rgb(60,66,82) !important;
    }
    .md-hover-button-blue {
        border-style: solid !important;
        border-width: 1px !important;
		color: rgb(41,98,255) !important;
        border-color: rgb(41,98,255) !important;
    }

    .md-hover-button-blue:hover > .iconhover {
        color: white !important;
    }

    .md-icon-button-blue > .iconhover {
        color: rgb(41,98,255) !important;
    }
	
</style>