<div>
 
	
    <section layout="row">
		<span class="md-background-fg md-hue-3 md-display-1" flex="80">Latest News</span>
    </section>
	
	<div>
		&nbsp;
	</div>
	<div>
		&nbsp;
	</div>	
	
	
<div layout="column" layout-align="space-around center">
	<div layout="row">
		<article flex layout="column" layout-align="center center">
			<span class="title-1 blue-50-fg">TOTAL</span>
			<span class="title-5 blue-50-fg">
				<span class="logoH">A</span>NNIHILATIO<span class="logoH">N</span>
			</span>
			<span class="title-3 blue-50-fg">LAZARUS</span>
			<span class="title-7 blue-50-fg">v{{ vm.lazarusVersion }} BETA</span>
			<span>&nbsp;</span>
			<span>&nbsp;</span>
			<span>&nbsp;</span>
			<!--<span class="title-8 blue-50-fg">PUBLIC BETA TEST</span>-->
			<span>&nbsp;</span>
		</article>
	</div>

	
</div>
<!--
	<p class="md-background-fg md-hue-3">
		Above this, stands a symbol of oppression. Corrupt Total Annihilation data. 
		Where thousands of 3rd party unit packs for Total Annihilation have languished under the consequences of conflict with one another.
		And do you accept, this massive headache? And do you accept the problems with all of these UFO files, of the corrupt?
	</p>
	<p class="md-background-fg md-hue-3">
		We take mod development away from the CORRUPT .UFO distributors, the tech savvy,
		the oppressors of generations who have kept your TA game crashing with myths of conflict free unit packs.
		and we give it back to you... the people.
	</p>
	<p class="md-background-fg md-hue-3">
		The chance to make kick ass Total Annihilation mods is yours. None shall interfere, do as you please!
	</p>
-->

    <section>
		
		
		<!-- Begin News Block -->
        <md-card ng-repeat="thread in vm.listData.posts" class="glass_bg">
            <md-card-header>
                <md-card-avatar>
                    <img class="md-user-avatar" src="/static/ArmLogoVectorWhite.svg">
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title md-accent-fg">
						Unofficial Patch for Linux and OS X Available Now!
					</span>
                    <span class="md-subhead md-accent-fg md-hue-1">
						Posted by Matt on October 1, 2017
					</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-title>
                <md-card-title-text>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
				<div class="md-background-fg md-hue-3">
					<p>
					    Just today we've discovered some very good news. Thanks to Cavedog's incredible engineering hindsight, it appears that 
						Total Annihilation has scalable configuration parameters which can be modified in the primary '.INI' file that has allowed
						us to optimize the game for hardware twenty years in the future. 
					</p>		
					<p>
						Click <a href="/static/TA_OSX/Unofficial_Patch_Unix_1.0.zip">here</a> to download the executable, it is optimized to run on 
						all desktop operating systems. Simply extract the contents to your primary Total Annihilation installation directory.
					</p>
					<span>
						<a href="/static/TA_OSX/Unofficial_Patch_Unix_1.0.zip">
							Download Unofficial Patch 3.9.02 For Linux, OS X &amp; Windows
						</a>
					</span>
				</div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
            </md-card-actions>
        </md-card>
		<!-- End News Block --><br><br>
		
		<div>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<ins class="adsbygoogle"
				 style="display:block; text-align:center;"
				 data-ad-layout="in-article"
				 data-ad-format="fluid"
				 data-ad-client="ca-pub-4528534804347182"
				 data-ad-slot="3472871345"></ins>
			<script>
				 (adsbygoogle = window.adsbygoogle || []).push({});
			</script>		
		</div>
		
		<br><br>
		<!-- Begin News Block -->
        <md-card ng-repeat="thread in vm.listData.posts" class="glass_bg">
            <md-card-header>
                <md-card-avatar>
                    <img class="md-user-avatar" src="/static/ArmLogoVectorWhite.svg">
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title md-accent-fg">
						Total Annihilation 20th Anniversary
					</span>
                    <span class="md-subhead md-accent-fg md-hue-1">
						Posted by Matt on September 30, 2017
					</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-title>
                <md-card-title-text>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
				<div class="md-background-fg md-hue-3">
					<p>
					    The Lazarus mod publisher had run into an issue with the <a href="#">HPI Pack</a>.exe tool which was originally 
						released in 1999. It is unable to run on a Linux backend and will need to be looked into. 
					</p>		
					<p>
						At the moment, the mod publisher packs your custom mod into a .zip format. We'll be looking into running the original 
						HPI Pack tool through a Linux/Wine command line interface, or possibly running a very lightweight Windows XP virtual machine
						or Windows Server 2012 using powershell to see if we can't try running this tool in an automated fashion.
					</p>
					<p>
						The overall problem is that HPIPack.exe doesn't like running on an operating system that does not have a graphical user interface
						and seems to terminate itself if it detects that no windows can be opened to pack a file directory.
					</p>
				</div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
            </md-card-actions>
        </md-card>
		<!-- End News Block --><br><br>
		
		
		<!-- Begin News Block -->
        <md-card ng-repeat="thread in vm.listData.posts" class="glass_bg">
            <md-card-header>
                <md-card-avatar>
                    <img class="md-user-avatar" src="/static/ArmLogoVectorWhite.svg">
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title md-accent-fg">
						Public release of Lazarus going live tonight.
					</span>
                    <span class="md-subhead md-accent-fg md-hue-1">
						Posted by Matt on September 25, 2017
					</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-title>
                <md-card-title-text>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
				<div class="md-background-fg md-hue-3">
					<p>
					    The Lazarus mod publisher is nearly complete, this means that everyone can
						begin using and testing Lazarus.
					</p>		
					<img src="/static/newsOfWorkInProgress.png"/>
					<p>
						As of right now the DownloadTDF editor cannot write or modify values.
						This should be completed soon after Lazarus goes live since it's a
						pretty important conflict resolver.
					</p>
				</div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
            </md-card-actions>
        </md-card>
		<!-- End News Block --><br><br>
		
		
		<!-- Begin News Block -->
        <md-card ng-repeat="thread in vm.listData.posts" class="glass_bg">
            <md-card-header>
                <md-card-avatar>
                    <img class="md-user-avatar" src="/static/ArmLogoVectorWhite.svg">
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title md-accent-fg">
						Lazarus is almost ready for building and playing Total Annihilation mods.
					</span>
                    <span class="md-subhead md-accent-fg md-hue-1">
						Posted by Matt on September 14, 2017
					</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-title>
                <md-card-title-text>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
				<div class="md-background-fg md-hue-3">
					<p>
					    The project is nearly ready to be tested alongside Total Annihilation. Just today I managed to complete the weapon editor API controllers on the frontend. Although obviously, it will need an overhaul on the user experience side of things since currently it will not display relevent information to help users navigate the weapons which are installed on their mod project. I'll be focusing more right now on making sure the tech tree editor is fully functional before I jump to polishing up the weapon editor.
					</p>
					
					<p>
						The unit FBI editor is in a good enough state for the public beta test. During the public data test of Lazarus, I'll be allowing users to stress test all Lazarus apps from uploading HPI data to building and publishing their mods to test on their copies of Total Annihilation. When the public beta test ends, I'll most likely be wiping the database for a fresh clean slate and added improvements to the apps based on user test feedback. You can read more about the <a>project status here</a>. 
					</p>
				</div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
            </md-card-actions>
        </md-card>
		<!-- End News Block --><br><br>
		
		

		<div>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<ins class="adsbygoogle"
				 style="display:block; text-align:center;"
				 data-ad-layout="in-article"
				 data-ad-format="fluid"
				 data-ad-client="ca-pub-4528534804347182"
				 data-ad-slot="3472871345"></ins>
			<script>
				 (adsbygoogle = window.adsbygoogle || []).push({});
			</script>		
		</div>
		
		
        <md-card ng-repeat="thread in vm.listData.posts" class="glass_bg">
            <md-card-header>
                <md-card-avatar>
                    <img class="md-user-avatar" src="/static/ArmLogoVectorWhite.svg">
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title md-accent-fg">
						{{ thread['title'] }}
					</span>
                    <span class="md-subhead md-accent-fg md-hue-1">
						Posted by {{ thread['author']['username'] }} on {{ thread['pub_date'] | date:'fullDate' }}
					</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-title>
                <md-card-title-text>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
				<div id="threadBody{{ thread['id'] }}" class="md-background-fg md-hue-3">
					Thread Content:
				</div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
            </md-card-actions>
        </md-card>
    </section>
</div>


<style>
.title-1 {
        font-family: haettenschweilerregular;
        font-size: 120px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 3px;	
}
.title-3 {
	        font-family: haettenschweilerregular;
        font-size: 140px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 130px;
        letter-spacing: 3px;
}
.title-5 {
	        font-family: haettenschweilerregular;
        font-size: 200px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 170px;
        letter-spacing: 3px;
}
.logoH {
	font-size: 270px !important;
}
.title-7 {
	    font-family: haettenschweilerregular;
        font-size: 28px;
        font-style: normal;
        font-variant: normal;
        font-weight: 200;
        line-height: 65px;
        letter-spacing: 3px;
}
.title-8 {
	    font-family: haettenschweilerregular;
        font-size: 15px;
        font-style: normal;
        font-variant: normal;
        font-weight: 200;
        line-height: 65px;
        letter-spacing: 3px;
}


    .md-hover-button-amber-dark-bg:hover {
        background-color: rgb(255,171,0) !important;
        border-color: rgb(255,171,0) !important;
		color: rgb(60,66,82) !important;
    }
    .md-hover-button-amber-dark-bg {
        border-style: solid !important;
        border-width: 1px !important;
		color: rgb(255,171,0) !important;
        border-color: rgb(255,171,0) !important;
    }
	.bg-pattern-diagnal {
	  background-image: url('/static/bg-patterns/rough-diagonal.png');
	  background-repeat: repeat; 	
	}
	
    .glass_bg {
      	background-image: url('/static/assets/ArmPrimeBg_b-01.jpg');
      	background-repeat: no-repeat;
		background-position: top left;
		background-size: 3096px 2352px;
		background-attachment:fixed;
		border-color: rgba(0,0,0, 0.70) !important;
    }
	
	p 
	{
		transition: .8s all;
		color: white;
	}
</style>