<div layout="row" layout="start start">
		<span> &nbsp;&nbsp; </span>
		<div style="margin-top:10px;">
			<md-button aria-label="back" class="md-icon-button md-accent md-hover-button-2" ui-sref="app.LazarusMainMenu">
				<md-icon class="iconhover-2" md-font-icon="icon-arrow-left"></md-icon>
				<md-tooltip md-direction="bottom">Back to {{ vm.modName }} Project Manager.</md-tooltip>
			</md-button>
		</div>
		<span> &nbsp;&nbsp; </span>
		<div>
			<h1 class="breadcrubs taFont-large">LAZARUS MODS</h1>
		</div>
		<span> &nbsp;&nbsp; </span>
		<div style="margin-top:12px;">
			<md-icon md-font-icon="icon-chevron-right" class="s32 md-background-fg md-hue-3 breadcrubs"></md-icon>
		</div>
		<span> &nbsp;&nbsp; </span>
		<div>
			<h1 class="breadcrubs taFont-large">{{ vm.modName | uppercase }}</h1>
		</div>
		<span> &nbsp;&nbsp; </span>
		<div style="margin-top:12px;">
			<md-icon md-font-icon="icon-chevron-right" class="s32 md-background-fg md-hue-3 breadcrubs"></md-icon>
		</div>
		<span> &nbsp;&nbsp; </span>
		<div>
			<h1 class="breadcrubs taFont-large">ASSET EXPLORER</h1>
		</div>
</div>






<section ng-if="1 === 2">
        <div flex class="md-accent" layout="column" layout-margin layout-padding ng-if="vm.dependenciesDidLoad === true">
            <h1 class="md-background-fg md-hue-3">Download TDFs</h1>
			<p>Scanned download TDFs avaliable: </p>
            <!-- GRID LIST -->
            <md-grid-list md-cols="8"
						  md-cols-xs="2"
                          md-cols-sm="4"
                          md-cols-md="6"
                          md-cols-gt-md="8"
                          md-row-height-gt-md="1:1"
                          md-row-height="1:1"
                          md-gutter="8px"
                          md-gutter-gt-sm="4px"
						  
						  
            >
                <!-- MODEL NAME HERE -->
                <md-grid-tile ng-repeat="tile in vm.modDependencies"
                              md-rowspan="tile.heightRowSpan"
                              md-colspan="tile.widthColSpan"
                              md-colspan-sm="tile.widthColSpan"
                              md-colspan-xs="tile.widthColSpan"							
                              ng-class="tile.bgClass"
                >
                    <md-grid-tile-header layout-padding style="background: rgba(0, 0, 0, 0.55);">
                        <h2 style="font-size: 19px; color: #FFECB3; line-height: 18px;">{{tile.name}}</h2>
                    </md-grid-tile-header>
                    
					<img src="{{tile.pngImg}}" style="height: 96px; width: 96px">
                    </img>
					
                    <md-grid-tile-footer layout-padding style="background: rgba(0, 0, 0, 0.55);">
                        <h2 style="font-size: 19px; color: #FFECB3; line-height: 18px;">{{tile.type}}</h2>
                    </md-grid-tile-footer>
					
                </md-grid-tile>
            </md-grid-list>
            <!-- /END GRID LIST -->
        </div>
</section>

<md-button class="md-hover-button-amber" ng-click="vm.showFirstJsonRow = !vm.showFirstJsonRow">Toggle Mod Overview</md-button>

	

	
	
	
	
<div layout="column" ng-show="vm.showFirstJsonRow === true">
        <md-card class="glass_bg">
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title md-accent-fg">
						Complete Dump of Mod Assets &amp; Dependencies
					</span>
                    <span class="md-subhead md-accent-fg md-hue-1">
						A complete overview of your currently selected Mod project.
					</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-title>
                <md-card-title-text>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
				<div id="threadBody{{ thread['id'] }}" class="md-background-fg md-hue-3">
					<h2>Lazarus Terminology<h2>
					<h4><b>Mod</b></h4>
						<p>
							Mods are like a table of contents that tell Lazarus which Assets are associated
							with whichever mod.
						</p>
					<h4><b>Asset</b></h4>
						<p>
							Assets are representations of whole Total Annihilation units. An Asset contains a unique 
							identifier, which allows dependencies to find a TA unit it can associate with.
						</p>
					<h4><b>Dependency</b></h4>
						<p>
							Dependencies represent the pieces that make up Total Annihilation units. A dependency can be a
							unit model, weapon model, wav file sound effect, animation script and more. They contain information
							about where the raw 3DO file or WeaponTDF is stored on the ArmPrime server.
						</p>
						<p>
							Total Annhilation will crash if a dependency is either missing, or if the dependency conflicts with 
							another pre-existing dependency. Lazarus will do it's best to preserve the integrity of all dependencies.
						</p>
				</div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
            </md-card-actions>
        </md-card>
				
	<section layout="row">

		<div class="md-primary-bg" layout="column">
			<h5>Selected Mod:</h5>
			<pre>
			{{ vm.currentlyLoadedMod | json }}
			</pre>
		</div>
		<div class="md-warn-bg" layout="column">
			<h5>Mod Assets:</h5>
			<pre>
			{{ vm.modAssets | json }}
			</pre>
		</div>
		<div class="md-accent-bg" layout="column">
			<h5>Mod Dependencies for asset [52]:</h5>
			<pre>
			{{ vm.modDependencies | json }}
			</pre>
		</div>
	</section>
</div>
<br>
<br>
<md-button class="md-hover-button-blue" ng-click="vm.showSecondJsonRow = !vm.showSecondJsonRow">Toggle Dependency Dump</md-button>
<div ng-show="vm.showSecondJsonRow === true">
	<h1>A Dump Of All Dependencies Contained Within This Mod</h1>
	<pre>{{vm.groupedAssetsWithDependencies | json}}</pre>
</div>


<br>
<md-button class="md-hover-button-purple" ng-click="vm.showSecondJsonRow = !vm.showSecondJsonRow">Launch Viewer</md-button>
<section ng-repeat="(key, value) in vm.groupedAssetsWithDependencies">
        <div flex class="md-accent" layout="column" layout-margin layout-padding ng-if="vm.dependenciesDidLoad === true">
            <h1 class="md-accent-fg ">ASSET: {{key}}</h1>
            <!-- GRID LIST -->
            <md-grid-list md-cols="6"
						  md-cols-xs="2"
                          md-cols-sm="4"
                          md-cols-md="6"
                          md-cols-gt-lg="8"
                          md-row-height-gt-md="1:1"
                          md-row-height="1:1"
                          md-gutter="8px"
                          md-gutter-gt-sm="4px"
						  
						  
            >
                <!-- MODEL NAME HERE -->
                <md-grid-tile ng-repeat="tile in value"
                              md-rowspan="tile.heightRowSpan"
                              md-colspan="tile.widthColSpan"
                              md-colspan-sm="tile.widthColSpan"
                              md-colspan-xs="tile.widthColSpan"							
                              ng-class="tile.bgClass"
                >
                    <md-grid-tile-header layout-padding style="background: rgba(0, 0, 0, 0.55);">
                        <h2 style="font-size: 19px; color: #FFECB3; line-height: 18px;">{{tile.name}}</h2>
                    </md-grid-tile-header>
                    
					<img src="{{tile.pngImg}}" style="height: 96px; width: 96px">
                    </img>
				
				<p class="md-accent-fg">{{tile.model_schema}}</p>
					
                    <md-grid-tile-footer layout-padding style="background: rgba(0, 0, 0, 0.55);">
                        <h2 style="font-size: 19px; color: #FFECB3; line-height: 18px;">{{tile.type}}</h2>
                    </md-grid-tile-footer>
					
                </md-grid-tile>
            </md-grid-list>
            <!-- /END GRID LIST -->
        </div>
</section>



<style>
.title-1 {
        font-family: haettenschweilerregular;
        font-size: 120px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 3px;	
}
.title-3 {
	        font-family: haettenschweilerregular;
        font-size: 140px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 130px;
        letter-spacing: 3px;
}
.title-5 {
	        font-family: haettenschweilerregular;
        font-size: 200px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 170px;
        letter-spacing: 3px;
}
.logoH {
	font-size: 270px !important;
}
.title-7 {
	    font-family: haettenschweilerregular;
        font-size: 28px;
        font-style: normal;
        font-variant: normal;
        font-weight: 200;
        line-height: 65px;
        letter-spacing: 3px;
}
.title-8 {
	    font-family: haettenschweilerregular;
        font-size: 15px;
        font-style: normal;
        font-variant: normal;
        font-weight: 200;
        line-height: 65px;
        letter-spacing: 3px;
}

	.bg-pattern-diagnal {
	  background-image: url('/static/bg-patterns/rough-diagonal.png');
	  background-repeat: repeat; 	
	}
	
    .glass_bg {
      	background-image: url('/static/assets/ArmPrimeBg_b-01.jpg');
      	background-repeat: no-repeat;
		background-position: top left;
		background-size: 3096px 2352px;
		background-attachment:fixed;
		border-color: rgba(0,0,0, 0.70) !important;
    }
	
</style>

<style>
	.hideThis {
		opacity: 0.0 !important;
	}

	/* 
	      ICON BUTTON 
	*/
    .md-hover-button:hover {
        background-color: rgb(41,98,255) !important;
        border-color: rgb(41,98,255) !important;
    }
    .md-hover-button {
        border-style: solid !important;
        border-width: 1px !important;
        border-color: rgb(41,98,255) !important;
    }
    .md-hover-button:hover > .iconhover {
        color: black !important;
    }
    .md-icon-button > .iconhover {
        color: rgb(41,98,255) !important;
    }
	/* 
	      /ICON BUTTON 
	*/
	/* 
	      ICON BUTTON 
	*/
    .md-hover-button-2:hover {
        background-color: #FF6F00 !important;
        border-color: #FF6F00 !important;
    }
    .md-hover-button-2 {
        border-style: solid !important;
        border-width: 1px !important;
        border-color: #FF6F00 !important;
		color: #FF6F00 !important;
    }
    .md-hover-button-2:hover > .iconhover-2 {
        color: rgb(60,66,82) !important;
    }
    .md-icon-button-2 > .iconhover-2 {
        color: #FF6F00 !important;
    }
	/* 
	      /ICON BUTTON 
	*/

	.md-hover-button-purple:hover {
        background-color: rgb(124,77,255) !important;
        border-color: rgb(124,77,255) !important;
		color: rgb(60,66,82) !important;
    }
    .md-hover-button-purple {
        border-style: solid !important;
        border-width: 1px !important;
		color: rgb(124,77,255) !important;
        border-color: rgb(124,77,255) !important;
    }

    .md-hover-button-amber-dark-bg:hover {
        background-color: rgb(255,171,0) !important;
        border-color: rgb(255,171,0) !important;
		color: rgb(60,66,82) !important;
    }
    .md-hover-button-amber-dark-bg {
        border-style: solid !important;
        border-width: 1px !important;
		color: rgb(255,171,0) !important;
        border-color: rgb(255,171,0) !important;
    }
	
    .md-hover-button-amber-selected {
        background-color: rgb(255,171,0) !important;
        border-color: rgb(255,171,0) !important;
		color: rgb(60,66,82) !important;
    }
    .md-hover-button-amber:hover {
        background-color: rgb(255,171,0) !important;
        border-color: rgb(255,171,0) !important;
		color: white !important;
    }
    .md-hover-button-amber {
        border-style: solid !important;
        border-width: 1px !important;
		color: rgb(255,171,0) !important;
        border-color: rgb(255,171,0) !important;
    }
	
    .md-hover-button-blue:hover {
        background-color: rgb(41,98,255) !important;
        border-color: rgb(41,98,255) !important;
		color: rgb(60,66,82) !important;
    }
    .md-hover-button-blue {
        border-style: solid !important;
        border-width: 1px !important;
		color: rgb(41,98,255) !important;
        border-color: rgb(41,98,255) !important;
    }
</style>