<section layout="column">
    <div layout="row" layout-padding>
        <div flex="10"></div>
        <div flex="80" class="glass_bg" layout-padding layout="column">
            <span class="md-headline">Project Status</span>
            <span class="md-subhead">
            There are currently 3 major components of Lazarus that will need to be completed before the public beta test.
            </span>
        </div>
        <div flex="10"></div>
    </div>

    <div layout="row" layout-padding>
        <div flex="10"></div>
        <div flex="80" class="glass_bg" layout-padding layout="column">
            <div class="media">
                <img class="image thumbnail" 
					 src="/static/LazarusScreenShots/projectStatus/lazarus-dashboard.png"
					 ng-click="vm.previewFullSizeImage($event, '/static/LazarusScreenShots/projectStatus/lazarus-dashboard.png', 0)"
                     alt="The Lazarus mod editor main menu for customizing a Total Annihilation mod.">
            </div>
            <p class="text">
                The main dashboard page of a custom Lazarus mod called "ArmNCorePack". This is the starting point for
                any new mod project that shows an overview
                of the currently selected mod project and a main menu to navigate to all primary Lazarus apps.
            </p>
        </div>
        <div flex="10"></div>
    </div>
	
    <div layout="row" layout-padding layout-align="center center">
        <div flex="100" layout-padding layout="column">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<ins class="adsbygoogle"
				 style="display:block; text-align:center;"
				 data-ad-layout="in-article"
				 data-ad-format="fluid"
				 data-ad-client="ca-pub-4528534804347182"
				 data-ad-slot="8758354599"></ins>
			<script>
				 (adsbygoogle = window.adsbygoogle || []).push({});
			</script>
        </div>
    </div>

	
    <div layout="row" layout-padding>
        <div flex="10"></div>
        <div flex="80" class="glass_bg" layout-padding layout="column">
            <span class="md-title">Mod Nanolather</span>
			<span class="md-subhead">
				Finalizes your mod and compresses it into a .UFO file.
			</span>
        </div>
        <div flex="10"></div>
    </div>
    <div layout="row" layout-padding>
        <div flex="10"></div>
        <div flex="80" class="glass_bg" layout-padding layout="column">
            <div class="media">
                <img class="image thumbnail" src="/static/LazarusScreenShots/projectStatus/lazarus-nanolathe.png"
					 ng-click="vm.previewFullSizeImage($event, '/static/LazarusScreenShots/projectStatus/lazarus-nanolathe.png', 0)"
                     alt="Publishing a Lazarus mod screen shot.">
            </div>
            <p class="text">
                This is where you build and compile your .UFO file when you're ready to publish and play your custom TA mod.
				The the most important component of Lazarus overall.
            </p>
        </div>
        <div flex="10"></div>
    </div>

	
    <div layout="row" layout-padding>
        <div flex="10"></div>
        <div flex="80" class="glass_bg" layout-padding layout="column">
            <span class="md-title">Download TDF Editor</span>
			<span class="md-subhead">
				An editor with visual representations of the tech tree.
			</span>
            <div class="media" layout="row" flex>
				
				<div class="img-2" flex ng-click="vm.previewFullSizeImage($event, '/static/LazarusScreenShots/projectStatus/lazarus-tdf-1.png', 1)" ng-mouseenter="vm.img1IsVisible = true" 
						  ng-mouseleave="vm.img1IsVisible = false" >
					<span
						  ng-hide="vm.img1IsVisible === false" 
						  layout="column" 
						  layout-align="center center">
						<span class="md-headline text-bold">
							click to enlarge
						</span>
						<md-icon class="mdi mdi-magnify-plus-outline img-enlarge md-background-fg md-hue-3"></md-icon>
					</span>
				</div>
				<div class="img-3" flex ng-click="vm.previewFullSizeImage($event, '/static/LazarusScreenShots/projectStatus/lazarus-tdf-2.png', 2)" ng-mouseenter="vm.img2IsVisible = true" 
						  ng-mouseleave="vm.img2IsVisible = false" >
					<span
						  ng-hide="vm.img2IsVisible === false" 
						  layout="column" 
						  layout-align="center center">
						<span class="md-headline text-bold">
							click to enlarge
						</span>
						<md-icon class="mdi mdi-magnify-plus-outline img-enlarge md-background-fg md-hue-3"></md-icon>
					</span>
				</div>
				<div class="img-4" flex ng-click="vm.previewFullSizeImage($event, '/static/LazarusScreenShots/projectStatus/lazarus-tdf-3.png', 3)" ng-mouseenter="vm.img3IsVisible = true" 
						  ng-mouseleave="vm.img3IsVisible = false">
					<span 
						  ng-hide="vm.img3IsVisible === false" 
						  layout="column" 
						  layout-align="center center">
						<span class="md-headline text-bold">
							click to enlarge
						</span>
						<md-icon class="mdi mdi-magnify-plus-outline img-enlarge md-background-fg md-hue-3"></md-icon>
					</span>
				</div>
				
            </div>
            <p>
                The Download TDF Editor is a powerful and user friendly tool that shows you your mod's tech tree in a
                visual representation, a much more user friendly approach to dealing with one of many game data
                conflicts.
            </p>
        </div>
        <div flex="10"></div>
    </div>
	
    <div layout="row" layout-padding layout-align="center center">
        <div flex="100" class="glass_bg" layout-padding layout="column">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<ins class="adsbygoogle"
				 style="display:block; text-align:center;"
				 data-ad-layout="in-article"
				 data-ad-format="fluid"
				 data-ad-client="ca-pub-4528534804347182"
				 data-ad-slot="3686168921"></ins>
			<script>
				 (adsbygoogle = window.adsbygoogle || []).push({});
			</script>
        </div>
    </div>

    <div layout="row" layout-padding>
        <div flex="10"></div>
        <div flex="80" class="glass_bg" layout-padding layout="column">
            <span class="md-title">Weapon TDF Editor</span>
            <span class="md-subhead">Customize damage, attack speed and unique ID</span>
            <div class="media" layout="row">
				
				<div class="img-5" flex ng-mouseenter="vm.img4IsVisible = true" ng-mouseleave="vm.img4IsVisible = false" ng-click="vm.previewFullSizeImage($event, '/static/LazarusScreenShots/projectStatus/lazarus-weapon-1.png', 4)">
					<span  
						  
						  ng-hide="vm.img4IsVisible === false" 
						  layout="column" 
						  layout-align="center center">
						<span class="md-headline text-bold">
							click to enlarge
						</span>
						<md-icon class="mdi mdi-magnify-plus-outline img-enlarge md-background-fg md-hue-3"></md-icon>
					</span>
				</div>
				<div class="img-6" flex ng-mouseenter="vm.img5IsVisible = true" 
						  ng-mouseleave="vm.img5IsVisible = false" ng-click="vm.previewFullSizeImage($event, '/static/LazarusScreenShots/projectStatus/lazarus-weapon-2.png', 5)">
					<span 
						  ng-hide="vm.img5IsVisible === false" 
						  layout="column" 
						  layout-align="center center">
						<span class="md-headline text-bold">
							click to enlarge
						</span>
						<md-icon class="mdi mdi-magnify-plus-outline img-enlarge md-background-fg md-hue-3"></md-icon>
					</span>
				</div>
				<div class="img-7" flex ng-mouseenter="vm.img6IsVisible = true" ng-click="vm.previewFullSizeImage($event, '/static/LazarusScreenShots/projectStatus/lazarus-weapon-3.png', 6)"
						  ng-mouseleave="vm.img6IsVisible = false" >
					<span
						  ng-hide="vm.img6IsVisible === false" 
						  layout="column" 
						  layout-align="center center">
						<span class="md-headline text-bold">
							click to enlarge
						</span>
						<md-icon class="mdi mdi-magnify-plus-outline img-enlarge md-background-fg md-hue-3"></md-icon>
					</span>
				</div>
				
				<!--
                <img class="image thumbnail" src="/static/LazarusScreenShots/projectStatus/lazarus-weapon-1.png"
					 flex="30"
					 
                     alt="Total Annihilation Download TDF Editor">
                <img class="image thumbnail" src="/static/LazarusScreenShots/projectStatus/lazarus-weapon-2.png"
					 flex="30"
					
                     alt="Total Annihilation Download TDF Editor">
                <img class="image thumbnail" src="/static/LazarusScreenShots/projectStatus/lazarus-weapon-3.png"
					 flex="30"
					 
                     alt="Total Annihilation Download TDF Editor">
				-->
            </div>
            <p style="color:white;">
                This portion of the application modifies the weapon objects which are assigned to each unit in Total
                Annihilation. This editor will function in two modes, official '3.1' mode and unofficial '3.9.02' mode.
                Thanks to the incredible work done to the Total Annihilation unofficial patch, '3.9.02' mode will allow
                mod creators to have more than 255 unique weapon IDs. The only drawback to this mode (hopefully for the
                time being) is that it will only be playable on Microsoft Windows and not runable on macOS and Linux.
            </p>
            <p>
                The major advantages of the new weapon TDF editor over anything that exists today will be a GAF file
                picker menu and a sound picker menu. The GAF picker will allow you to modify the explosion animations of
                weapons and have the ability to preview the GAF animations before you select them. The sound picker will
                work just like the GAF picker, but it will deal with the sounds that weapons make on impact and launch.
            </p>
            <p>
                Initially you will only be able to pick official Cavedog sounds and GAF animations, but this will be
                updated in the future to where Arm Prime will have an entire GAF animation repository mod developers in
                the community will be able to select from.
            </p>

        </div>
        <div flex="10"></div>
    </div>
	
    <div layout="row" layout-padding layout-align="center center">
        <div flex="100" class="glass_bg" layout-padding layout="column">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<ins class="adsbygoogle"
				 style="display:block; text-align:center;"
				 data-ad-layout="in-article"
				 data-ad-format="fluid"
				 data-ad-client="ca-pub-4528534804347182"
				 data-ad-slot="3686168921"></ins>
			<script>
				 (adsbygoogle = window.adsbygoogle || []).push({});
			</script>
        </div>
    </div>
	
    <div layout="row" layout-padding>
        <div flex="10"></div>
        <div flex="80" class="glass_bg" layout-padding layout="column">
            <p>
                
            </p>
        </div>
        <div flex="10"></div>
    </div>


</section>


<style>
    img {
        border-style: solid !important;
        border-width: 1px !important;
        border-color: rgb(41, 98, 255) !important;
    }
	
	.img-enlarge {
		color: white;
		font-size: 75px;
		width: 75px;
		height: 75px;
	}
	.thumbnail {
		width: auto;
  		height: auto;
		display: block;
		cursor: pointer;
	}

    .img-1 {
        display: block;
        background-image: url('/static/LazarusScreenShots/projectStatus/lazarus-dashboard.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
		cursor: pointer;
    }
	
	
	
    .img-2 {
        background-image: url('/static/LazarusScreenShots/projectStatus/lazarus-tdf-1.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
		width: 200px;
		height: 400px;
		cursor: pointer;
    }
    .img-3 {
        background-image: url('/static/LazarusScreenShots/projectStatus/lazarus-tdf-2.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
		width: 200px;
		height: 400px;
		cursor: pointer;
    }
    .img-4 {
        background-image: url('/static/LazarusScreenShots/projectStatus/lazarus-tdf-3.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
		height: 400px;
		cursor: pointer;
    }
	
    .img-5 {
        background-image: url('/static/LazarusScreenShots/projectStatus/lazarus-weapon-1.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
		width: 200px;
		height: 400px;
		cursor: pointer;
    }
    .img-6 {
        background-image: url('/static/LazarusScreenShots/projectStatus/lazarus-weapon-2.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
		width: 200px;
		height: 400px;
		cursor: pointer;
    }
    .img-7 {
        background-image: url('/static/LazarusScreenShots/projectStatus/lazarus-weapon-3.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
		height: 400px;
		cursor: pointer;
    }
</style>