<section layout="row" class="md-accent-bg">
	<div flex="80" class="md-grey-900-bg" md-padding layout="column">
		<p> response </p>
		<div id="responseLog" style="padding:25px;" ms-scroll>
		</div>		
	</div>
	<div flex="20" layout="column"> 
		<md-button ng-click="vm.getDepen('ARMARSPD')" 
				   class="md-raised">Air Repair Spider</md-button>
		<md-button ng-click="vm.getDepen('ARMPOD')" 
				   class="md-raised">Arm Pod</md-button>
		<md-button ng-click="vm.getDepen('ARMSPDC')" 
				   class="md-raised">Construction Spider</md-button>
		<md-button ng-click="vm.getDepen('cutter')" 
				   class="md-raised">Core Cutter</md-button>
		<md-button ng-click="vm.getDepen('ANAbel')" 
				   class="md-raised">Arm Abel</md-button>
		
		<md-button ng-click="vm.getDepen('Delta')" 
				   class="md-raised">Delta</md-button>
		<md-button ng-click="vm.getDepen('CgunA')" 
				   class="md-raised">CgunA</md-button>
		<md-button ng-click="vm.getDepen('AStank')" 
				   class="md-raised">Slicer</md-button>
		<md-button ng-click="vm.getDepen('CbeamA')" 
				   class="md-raised">Splitter</md-button>
		<md-button ng-click="vm.getDepen('ARMGOR')" 
				   class="md-raised">Gorilla</md-button>	

		<h1>Hovercraft Units</h1>
		<md-button ng-click="vm.getDepen('AAHP')" 
				   class="md-raised">Adv. Hovercraft Platform</md-button>
		<md-button ng-click="vm.getDepen('ARMIGUANA')" 
				   class="md-raised">Iguana</md-button>
		<md-button ng-click="vm.getDepen('ARMLASHOVER')" 
				   class="md-raised">Python</md-button>	
		<md-button ng-click="vm.getDepen('ARMTEM')" 
				   class="md-raised">Tempest</md-button>	
		<md-button ng-click="vm.getDepen('ARMVISIT')" 
				   class="md-raised">Visitor</md-button>
		<md-button ng-click="vm.getDepen('CORADON')" 
				   class="md-raised">Adonis</md-button>
		<md-button ng-click="vm.getDepen('CORHOVER3G')" 
				   class="md-raised">Venom</md-button>
		<md-button ng-click="vm.getDepen('CORMATCH')" 
				   class="md-raised">Matcher</md-button>
		<md-button ng-click="vm.getDepen('devastator')" 
				   class="md-raised">Devastator</md-button>
		<br>
		<h1>Random Units</h1>
		<md-button ng-click="vm.getDepen('Orranis')" 
				   class="md-raised">Orranis</md-button>
		<md-button ng-click="vm.getDepen('CORPRO')" 
				   class="md-raised">CORPRO</md-button>
		<md-button ng-click="vm.getDepen('corwalker')" 
				   class="md-raised">corwalker</md-button>
		<md-button ng-click="vm.getDepen('CorAnvil')" 
				   class="md-raised">CorAnvil</md-button>
		<md-button ng-click="vm.getDepen('CNCaine')" 
				   class="md-raised">CNCaine</md-button>
		<md-button ng-click="vm.getDepen('COREHELLRAISER')" 
				   class="md-raised">COREHELLRAISER</md-button>
		<md-button ng-click="vm.getDepen('ARMMECHL')" 
				   class="md-raised">ARMMECHL</md-button>
		<md-button ng-click="vm.getDepen('ARMHEADH')" 
				   class="md-raised">ARMHEADH</md-button>
		<md-button ng-click="vm.getDepen('arm_tor')" 
				   class="md-raised">arm_tor</md-button>
		<md-button ng-click="vm.getDepen('ARMTIB')" 
				   class="md-raised">ARMTIB</md-button>
		<md-button ng-click="vm.getDepen('ARMPRAET')" 
				   class="md-raised">ARMPRAET</md-button>
		<md-button ng-click="vm.getDepen('ARMWOLF')" 
				   class="md-raised">ARMWOLF</md-button>
		<md-button ng-click="vm.getDepen('ARMLABRA')" 
				   class="md-raised">ARMLABRA</md-button>
		<md-button ng-click="vm.getDepen('ARMCRABE')" 
				   class="md-raised">ARMCRABE</md-button>
		<md-button ng-click="vm.getDepen('ARMBIGWEE')" 
				   class="md-raised">ARMBIGWEE</md-button>
		<md-button ng-click="vm.getDepen('ArmAller')" 
				   class="md-raised">ArmAller</md-button>
	</div>
</section>