<div class="headerosx" layout="row">
			<span class="headerfont">Signature Messages &nbsp;</span>
      </div>

<div layout="row" 
	 class="listdemoBasicUsage left-sidenav" 
	 style="margin-top:21px"
	 layout-fill 
	 layout-align-sm="space-between stretch">
  <md-sidenav md-component-id="sidenav" 
			  flex-gt-sm="50" 
			  flex="" 
			  layout-fill  
			  class="sidenav" 
			  
			  ms-sidenav-helper 
			  md-is-locked-open="$mdMedia('gt-md')">
	  
    <md-toolbar layout="row" style="background-color:#ccc"> 
      <div class="md-toolbar-tools">
        <span>vm.otherChannelMembers: 
	{{ vm.otherChannelMembers }}</span>
      </div>
    </md-toolbar>
    <md-content style="background-color:#ccc">
      <md-list flex="" class="clear-bg glass-test">
        <md-subheader class="md-sticky tableview-section">Showing raw messages in native JSON</md-subheader>
        <md-list-item class="md-2-line" ng-repeat="item in vm.messagesTracked" ng-click="null">
          <div class="md-list-item-text" layout="column">
            <h3>OBJECT: {{ $index }} <span class="{{item.data.sender}}">{{item.data.sender}}</span> </h3>
			
            <pre>{{ item | json }}</pre>
          </div>
        </md-list-item>
        <md-divider></md-divider>
      </md-list>
    </md-content>
  </md-sidenav>
  <md-divider></md-divider> 
  <div flex-gt-sm="50" flex="" style="margin:31px"> 
	<div class="windowosx">
		<div ng-cloak class="window-topbar" layout="row">			
			<button class="windowctrl-yellow mdi mdi-plus"  
					ng-click="vm.toggleSidenav('sidenav')" 
					hide-gt-md
                    aria-label="Toggle left sidenav">
            </button>
			<div class="text-center" style="padding: 4px">Signal Other Connected Clients</div>
		</div>

		<md-content layout="column" 
					layout-align="space-around stretch" 
					class="windowosxcontainer"
					style="background-color:rgba(0,0,0,0);">
			
			<div>
				Connection: 
				<span class="on-badge" ng-show="vm.ws.$status() === 1"></span>
				<span class="off-badge" ng-show="vm.ws.$status() === 3"></span> 
				<span class="wait-badge" ng-show="vm.ws.$status() !== 3 && vm.ws.$status() !== 1"></span>
			</div>
							
			<div ng-cloak > 
				<button class="hovericon biblue mdi mdi-bullhorn"  
						ng-click="vm.userInput = 'whoishere'" 
						aria-label="Toggle left sidenav"> 
				</button>
				<button class="hovericon bired mdi mdi-radio-tower"  
						ng-click="vm.userInput = 'broadcast'" 
						aria-label="Toggle left sidenav"> 
				</button>
				<button class="hovericon bired mdi mdi-arrow-down-bold-hexagon-outline"  
						ng-click="vm.userInput = 'radio-tower'" 
						aria-label="Toggle left sidenav"> 
				</button>
			</div>

			<div layout="row"> 

				<button ng-click="vm.sendMsg()" 
						ng-class="{'disabled': vm.signature === 'swhite', 'blink': vm.signature !== 'swhite'}"
						class="osxbtn">Send {{ vm.userInput }}</button>

				<span flex></span>
			</div> 
			<div layout-margin>
				<span layout-padding>Selected Signature:</span>
				<span ng-class="vm.signature">{{vm.signature}}</span>
			</div>
			
				<md-radio-group ng-model="vm.signature" layout-margin>

					  <md-radio-button class="spurple" value="spurple" class="md-primary">Purple</md-radio-button>
					  <md-radio-button class="sorange" value="sorange">Orange</md-radio-button>
					  <md-radio-button class="sgreen" value="sgreen">Green</md-radio-button>
					  <md-radio-button class="sblue" value="sblue">Blue</md-radio-button>

				</md-radio-group>	  			


			<div layout="row"> 

					<button ng-click="vm.closeWsCon()" 
							   class="osxbtn simple" 
							   ng-if="vm.ws.$status() === 1">
						Disconnect
					</button>
					<button ng-click="vm.openWsCon()"  class="osxbtn simple" ng-if="vm.ws.$status() !== 1">
						Connect
					</button>
					<span flex></span>

			</div> 
		</md-content>	  
	</div>
  </div>
	
</div>