<md-divider></md-divider>
    <md-whiteframe ui-tree-handle
                   ng-class="{'md-whiteframe-1dp':node.canEdit === false,'blackbg':node.canEdit === true}"
                   class="tree-node tree-node-content"  
				   style="height:21px"
                   layout="row">
        <div ng-if="node.nodes && node.nodes.length > 0">
            <button class="btn btn-outline-warning" 
					style="padding:0px; height:25px"
                    ng-click="vm.toggleFolder(this)">
                <span
                    style="font-size:1.4em"
                    ng-class="{'mdi mdi-chevron-right': collapsed,'mdi mdi-chevron-down': !collapsed}">
                </span>
                <md-tooltip>Browse {{ node.title }}</md-tooltip>
            </button>
        </div>
        <span ng-if="node.icon"
			  style="font-size:1.45em; style:color:white" 
              class="mdi mdi-{{ node.icon }}"></span>
        <section>
            <strong style="color: white">
                {{ node.title }} 
            </strong>  
        </section>
        <div flex></div>
        <div> <!-- For Debugging, alert user that the indexes are off -->
            <span class="badge badge-danger" style="color: white">
                {{ node.parentIndex }}
            </span>
            <span class="badge badge-dark" style="color: white">
                {{ $index }}
            </span>
        </div>
        <div ng-if="node.hasUnsavedChanges === true">
            <button class="toolbar-button"
                    layout-wrap
                    style="padding:0px; height:15px; width:15px"
                    ng-click="vm.saveEditorWorkToServer(node.parentIndex, $index, node)">
                <span style="font-size:1.0em" class="entypo entypo-floppy"></span>
                <!--            <span class="mdi mdi-circle"></span>-->
                <md-tooltip md-visible="demo.showTooltip">
                    Save changes of {{ node.title }} to server.
                </md-tooltip>
            </button>
        </div>
        <div ng-if="node.canEdit === true" flex="10">
            <button class="toolbar-button"
                    layout-wrap 
                    style="padding:0px; height:15px; width:15px"
                    ng-click="vm.loadFileIntoEditor(node.parentIndex, $index, node)">
                <span class="entypo entypo-pencil" style="font-size:1.1em" ></span>
                <!--            <span class="mdi mdi-circle"></span>-->
                <md-tooltip md-visible="demo.showTooltip">
                    Open {{ node.title }} in editor
                </md-tooltip>
            </button>
        </div>
        <div ng-if="node.canAdd === true">
            <button class="btn btn-outline-success"
                    ng-if="node.canAdd === true"
                    layout-wrap
                    data-max-depth="1"
                    ng-click="vm.createNewComponentClick($event, node)"
                    style="margin-right: 8px; padding:0px; height:25px">
                <span style="font-size:1.4em" class="mdi mdi-plus"></span>
                <md-tooltip md-visible="demo.showTooltip"> 
                    Add new component to {{ node.class }}
                </md-tooltip>
            </button>
        </div>
    </md-whiteframe>
    <ol data-nodrag ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}" ng-show="!collapsed">
        <li ng-repeat="node in node.nodes  | orderBy : -title" 
			ng-class="{ 'loadedNodeFile': (node.isLoaded === true), 'openedByOtherBrowser': (node.openInOtherBrowser), 'savedByOtherBrowser': (node.wasSavedInOtherBrowser) }"
			ui-tree-node 
			data-nodrag 
			ng-include="'nodes_renderer.html'">
        </li>
    </ol>


<style>
.loadedNodeFile {
	color: white;
	background-image: -o-linear-gradient(-89deg, #69B1E5 0%, #3485D0 100%);
	background-image: -moz-linear-gradient(-89deg, #69B1E5 0%, #3485D0 100%);
	background-image: -ms-linear-gradient(-89deg, #69B1E5 0%, #3485D0 100%);
	background-image: linear-gradient(-179deg, #69B1E5 0%, #3485D0 100%);
	-moz-box-shadow: 0px -1px 0px 0px #5CA4DF, inset 0px -1px 0px 0px #327AC2, inset 0px 1px 0px 0px #71B9EA;
	box-shadow: 0px -1px 0px 0px #5CA4DF, inset 0px -1px 0px 0px #327AC2, inset 0px 1px 0px 0px #71B9EA;
}
.openedByOtherBrowser {
	color: white;
	background-color: rgb(255, 200, 5, 0.65) !important;
}
.savedByOtherBrowser {
	color: white;
	background-color: rgb(255, 5, 25, 0.65) !important;
}


</style>