<style>
    .blurloading {
        filter: blur(13px);
        animation-duration: 0.8s;
        background-color: blueviolet;
    }
</style>


<div id="file-manager" class="page-layout simple right-sidenav" layout="row"
     ng-class="{'blurloading': vm.isLoadingMod === true}">

    <!-- MAIN SIDENAV (EXTRA SIDENAV) -->
    <md-sidenav class="main-sidenav" md-component-id="main-sidenav"
                ng-include="'/static/app/main/apps/lazarus/sidenavs/main/main-sidenav.html'" ms-scroll
                ms-sidenav-helper>
    </md-sidenav>
    <!-- / MAIN SIDENAV (EXTRA SIDENAV) -->

    <!-- CENTER -->
    <div class="center" layout="column" flex>

        <!-- HEADER -->
        <div class="header md-accent-bg">

            <div class="header-content" layout="row" layout-align="start center">

                <md-menu>
                    <md-button aria-label="Open phone interactions menu" class="md-raised md-primary md-button md-default-theme"
                               ng-click="vm.openMenuDropDown($mdMenu, $event)">
                        Select a mod
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button ng-click="vm.selectModNamed('thepack')">
                                ThePack
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="vm.selectModNamed('big_ta_mod')">
                                big_ta_mod
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="vm.selectModNamed('taesc')">
                                TAESC
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="vm.selectModNamed('totala_files')">
                                totala_files
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="vm.selectModNamed('totala_files2')">
                                totala_files2
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="vm.selectModNamed('mod_hoverattack')">
                                mod_hoverattack
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>



                <form action="/SandboxDB/UploadDataTA/" method="post" enctype="multipart/form-data"
                      onsubmit="return false">
                    <input type="file" name="file">
                    <input type="submit" value="Submit">
                </form>
            </div>


            <!-- ADD FILE BUTTON -->
            <div id="file-uploader"
                 flow-init="vm.ngFlowOptions"
                 flow-name="vm.ngFlow.flow"
                 flow-files-submitted="vm.upload()"
                 flow-file-added="vm.fileAdded($file)"
                 flow-file-success="vm.fileSuccess($file, $message)"
                 flow-complete="vm.uploadComplete()">


                <md-button flow-btn class="add-file-button md-fab md-warn"
                           aria-label="Add ufo, hpi, or ccx file">
                    <md-icon md-font-icon="icon-plus"></md-icon>
                    <md-tooltip>
                        Upload ufo, hpi, gp3 or ccx file to customize your own Total Annihilation mod.
                    </md-tooltip>
                </md-button>

                <md-button flow-btn class="add-file-button md-fab md-warn"
                           aria-label="Add ufo, hpi, or ccx file">
                    <md-icon md-font-icon="icon-cloud-upload"></md-icon>
                    <md-tooltip>
                        Upload ufo, hpi, gp3 or ccx file to customize your own Total Annihilation mod.
                    </md-tooltip>
                </md-button>
            </div>
            <!-- / ADD FILE BUTTON -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <md-content class="content" flex ms-scroll>
            <div ng-if="vm.currentView === 'list'"
                 ng-include="'/static/app/main/apps/lazarus/views/list/list-view.html'"></div>
        </md-content>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

    <!-- SIDENAV -->
    <!-- md-is-locked-open="$mdMedia('gt-md')" -->
    <md-sidenav class="sidenav details-sidenav md-sidenav-right" md-is-locked-open="true"
                md-component-id="details-sidenav"
                ng-include="'/static/app/main/apps/lazarus/sidenavs/details/details-sidenav.html'" ms-scroll
                ms-sidenav-helper>
    </md-sidenav>
    <!-- / SIDENAV -->

</div>