<script type="text/ng-template" id="nodes_renderer.html">
	<span ng-include="'/moho_extractor/NgIncludedHtml/?name=partial_tmpl_07.html'"></span>
</script>
<link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">

<div class="page-layout carded left-sidenav opaque-global" layout="row" layout-align="center stretch">
    <!-- SIDENAV -->
    <md-sidenav class="opaque-global"                
                md-component-id="sidenav"
                ms-scroll
                flex="50"
                ms-sidenav-helper>
        <!-- SIDENAV HEADER -->
        <div class="header">
            <button class="btn btn-outline-primary"
                    ng-click="vm.goBackToCategory()"
                    style="min-height:42px">
                <span class="mdi-24px mdi mdi-arrow-left"></span>
                <md-tooltip>
                    Go Back
                </md-tooltip>
            </button>
        </div>   
        <!-- / SIDENAV HEADER -->
        <div class="toolbar-osx" style="color: black">
        </div>
        <!-- SIDENAV CONTENT -->
        <md-content
                style="padding: 0px"
                class="content glass-global"
                ak-frosted-glass
                flex ms-scroll>
            <!-- DEMO SIDENAV -->
            <div ui-tree id="tree-root" data-drop-enabled="false" data-drag-enabled="false" class="glass-global">
                <!-- start slipsum code -->
                <ol ui-tree-nodes
                    class="glass-global"
                    ng-model="vm.treeData"
                    layout="column"
                    layout-fill>
                    <li ng-repeat="node in vm.treeData"
                        ui-tree-node
                        ng-include="'/moho_extractor/NgIncludedHtml/?name=partial_tmpl_07.html'">
                    </li>
                </ol> 
                <!-- end slipsum code -->
            </div>
            <!-- / DEMO SIDENAV -->
            <div style="color: orange">
                <div layout="row" layout-align="space-between center">
					<span class="h2 badge badge-light">
						ID :   
					</span>
                    <span class="badge badge-dark">
						{{ vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].id }}
					</span>
                </div>
                <div layout="row" layout-align="space-between center">
					<span class="h2 badge badge-light">
						parentIndex :
					</span>
                    <span class="badge badge-dark">
						{{ vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].parentIndex }}
					</span>
                </div>
                <div layout="row" layout-align="space-between center">
					<span class="h2 badge badge-light">
						index :
					</span>
                    <span class="badge badge-dark">
						{{ vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].index }}
					</span>
                </div>
                <div layout="row" layout-align="space-between center">
					<span class="h2 badge badge-light">
						name :
					</span>
                    <span class="badge badge-success">
						{{ vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].name }}
					</span>
                </div>
                <div layout="row" layout-align="space-between center">
					<span class="h2 badge badge-light">
						title :
					</span>
                    <span class="badge badge-info">
						{{ vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].title }}
					</span>
                </div>
                <div layout="row" layout-align="space-between center">
					<span class="h2 badge badge-light">
						class :
					</span>
                    <span class="badge badge-info">
						{{ vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].class }}
					</span>
                </div>
                <div layout="row" layout-align="space-between center">
					<span class="h2 badge badge-light">
						nodes :
					</span>
                    <span class="badge badge-danger">
						{{ vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].nodes.length }}
					</span>
                </div> <!-- = = = = = = == = = = = = = = = = ==  -->
                <div layout="row" layout-align="space-between center">
					<span class="h2 badge badge-light">
						canRemove :
					</span>
                    <span class="badge badge-warning">
						{{ vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].canRemove }}
					</span>
                </div>
                <div layout="row" layout-align="space-between center">
					<span class="h2 badge badge-light">
						canEdit :
					</span>
                    <span class="badge badge-warning">
						{{ vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].canEdit }}
					</span>
                </div>
                <div layout="row" layout-align="space-between center">
					<span class="h2 badge badge-light">
						isMaster :
					</span>
                    <span class="badge badge-warning">
						{{ vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].isMaster }}
					</span>
                </div>
                <div layout="row" layout-align="space-between center">
					<span class="h2 badge badge-light">
						sourceCode :
					</span>
                    <span class="badge badge-secondary">
						{{ vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].sourceCode.length }}
					</span>
                </div>
                <div layout="row" layout-align="space-between center">
					<span class="h2 badge badge-light">
						sourceKey :
					</span>
                    <span class="badge badge-primary">
						{{ vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].sourceKey }}
					</span>
                </div>
                <div layout="row" layout-align="space-between center">
					<span class="h2 badge badge-light">
						RESTfulId :
					</span>
                    <span class="badge badge-primary">
						{{ vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].RESTfulId }}
					</span>
                </div>
                <div layout="row" layout-align="space-between center">
					<span class="h2 badge badge-light">
						RESTfulURI :
					</span>
                    <span class="badge badge-primary">
						{{ vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].RESTfulURI }}
					</span>
                </div>
                <div layout="row" layout-align="space-between center">
					<span class="h2 badge badge-light">
						syntax :
					</span>
                    <span class="badge badge-danger">
						{{ vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].syntax }}
					</span>
                </div>
                <div layout="row" layout-align="space-between center">
					<span class="h2 badge badge-light">
						hasUnsavedChanges :
					</span>
                    <span class="badge badge-warning">
						{{ vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].hasUnsavedChanges }}
					</span>
                </div>
                <div layout="row" layout-align="space-between center">
					<span class="h2 badge badge-light">
						icon :
					</span>
                    <span class="badge badge-warning">
						{{ vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].icon }}
					</span>
                </div>
            </div>

        </md-content>
        <!-- / SIDENAV CONTENT -->
    </md-sidenav>
    <!-- / SIDENAV -->
    <!-- CENTER -->
    <div layout="column" flex>
        <!-- CONTENT HEADER -->
        <div class="header"
             flex="5"
             layout="column"
             style="height: 100px; max-height: 122px; min-height: 76px; padding:0px">
            <h3>
                <span class="h2 badge badge-light">
					NAME :
				</span>
                <span class="h2 badge badge-danger">
					{{ vm.objectList.name }}
				</span>
                <span class="h2 badge badge-light">
					ID :
				</span>
                <span class="h2 badge badge-warning">
					{{ vm.objectList.id }}
				</span>
            </h3>

            <h2>
				<span class="h2 badge badge-secondary">
					sourceKey :
				</span>
                <span class="h2 badge badge-primary">
					{{ vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].sourceKey }}
				</span>
                <span class="h2 badge badge-secondary">
					RESTfulId :
				</span>
                <span class="h2 badge badge-primary">
					{{ vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].RESTfulId }}
				</span>
                <span class="h2 badge badge-secondary">
					RESTfulURI :
				</span>
                <span class="h2 badge badge-primary">
					{{ vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].RESTfulURI }}
				</span>
            </h2>
        </div>
        <!-- / CONTENT HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card glass-global" layout="column" flex ak-frosted-glass>
            <!-- CONTENT TOOLBAR -->
            <div layout="row"
                 layout-align="start center">
                <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('sidenav')"
                           aria-label="Toggle left sidenav">
                    <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
                </md-button>
                <h1 style="color: white">
                    <span>class:</span>
                    <span class="h1 badge badge-primary">
						{{ vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].class }}
					</span>
                    <span>name:</span>
                    <span class="h1 badge badge-success">
						{{ vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].name }}
					</span>
                    <span ng-if="vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].title !== vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].class">title:</span>
                    <span class="h1 badge badge-danger"
                          ng-if="vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].title !== vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].class">
						{{ vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].title }}
					</span>
                </h1>
                <md-button ng-show="vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex].hasUnsavedChanges"
						   ng-click="vm.saveEditorWorkToServer(vm.treeData[vm.loadedParentIndex].nodes[vm.loadedIndex])">
                    Save Changes
                </md-button>
				vm.loadedParentIndex
				{{ vm.loadedParentIndex }}
            </div>
            <!-- / CONTENT TOOLBAR -->
            <!-- CONTENT -->
            <md-content class="contentosx"
                        flex
                        ms-scroll
                        style="background-color: rgba(255,255,255,0.45);">
                <div class="container-fluid container-maverix ">
                    <ui-codemirror
                            ui-codemirror-opts="vm.editorOptions"
                            ui-codemirror="{onLoad:vm.codemirrorLoaded}">
                    </ui-codemirror>
                </div>
            </md-content>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>


<style>
    button:hover {
        color: black !important;
    }
</style>