<!-- LIST VIEW -->
<md-button ng-click="vm.showCustomToast('yes')">toast example</md-button>

<md-input-container>
  <label>Search</label>
  <input type="text" ng-model="color" ng-model="test" md-maxlength="25">
</md-input-container>

<table class="simple list-view">
    <thead>
    <tr>
        <th>Thumbnail</th>
        <th>Name</th>
        <th>Type</th>
        <th>Owner</th>
        <th>Description</th>
        <th>Category</th>
        <th>HP</th>
    </tr>
    </thead>
    <!--<tbody>-->
    <!--<tr ng-repeat="file in vm.folders | filter:global.search" ng-click="vm.select(file)"-->
        <!--ng-class="{'selected' : vm.selected['JsonDump']['UnitName'].toLowerCase() === file['object_name'].toLowerCase()}">-->
        <!--<td class="image"><img md-whiteframe="1" src="{{file['thumbnail']}}"></td>-->
        <!--<td class="name">{{file['thumbnail']}}</td>-->
        <!--<td class="type" hide show-gt-sm>{{file['object_name']}}</td>-->
        <!--<td class="owner" hide-xs>{{file['system_location']}}</td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <tbody>
    <tr ng-repeat="file in vm.files | filter:test['JsonDump']['UnitName']" ng-click="vm.select(file)"
        ng-class="{'selected' : vm.selected['JsonDump']['UnitName'].toLowerCase() === file['object_name'].toLowerCase()}">
        <td class="image"><img md-whiteframe="1" src="{{file['thumbnail']}}"></td>
        <td class="name">{{file['unit_data'][0]['JsonDump']['Name']}}</td>
        <td class="type" hide show-gt-sm>{{file['unit_data'][0]['JsonDump']['TEDClass']}}</td>
        <td class="owner" hide-xs>{{file['unit_data'][0]['JsonDump']['Side']}}</td>

        <td class="owner" hide-xs>{{file['unit_data'][0]['JsonDump']['Description']}}</td>
        <td class="owner" hide-xs>{{file['unit_data'][0]['JsonDump']['Category']}}</td>
        <td class="owner" hide-xs>{{file['unit_data'][0]['JsonDump']['MaxDamage']}}</td>

    </tr>
    </tbody>
</table>
<!-- / LIST VIEW
{
            "thumbnail": "/static/totala_files/unitpics/CORSONAR.png",
            "object_name": "CORSONAR",
            "system_location": "/usr/src/app/static/totala_files/unitpics/CORSONAR.png"
}
-->



