<div class="headerosx" layout="row">
			<span class="headerfont">Switchable Channels &nbsp;</span>
      </div>

<div layout="row" 
	 class="listdemoBasicUsage left-sidenav" 
	 style="margin-top:21px"
	 layout-fill 
	 layout-align-sm="space-between stretch">
  <md-sidenav md-component-id="sidenav" 
			  flex-gt-sm="50" 
			  flex="" 
			  layout-fill 
			  class="clear-bg opaque-global sidenav" 
			  ms-sidenav-helper 
			  md-is-locked-open="$mdMedia('gt-md')">
	  
    <md-toolbar layout="row"> 
      <div class="md-toolbar-tools">
        <span>Socket Message Feed</span>
      </div>
    </md-toolbar>
    <md-content>
      <md-list flex="" class="clear-bg glass-global">
        <md-subheader class="md-sticky" style="color: orange;">Showing raw messages in native JSON</md-subheader>
        <md-list-item class="md-2-line" ng-repeat="item in vm.messagesTracked" ng-click="null">
          <div class="md-list-item-text" layout="column">
            <h3>OBJECT: {{ $index }}</h3>
            <pre>{{ item | json }}</pre>
          </div>
        </md-list-item>
        <md-divider></md-divider>
      </md-list>
    </md-content>
  </md-sidenav>
  <md-divider></md-divider> 
  <div flex-gt-sm="50" flex="" style="margin:31px"> 
	<div class="windowosx">
		<div ng-cloak >
			<button class="windowctrl-yellow mdi mdi-plus"  
					ng-click="vm.toggleSidenav('sidenav')" 
					hide-gt-md
                    aria-label="Toggle left sidenav">
            </button>

		</div>

		<md-content layout="column" 
					layout-align="space-around stretch" 
					class="windowosxcontainer"
					style="background-color:rgba(0,0,0,0);">
			
			<div>
				Connection: 
				<span class="on-badge" ng-show="vm.ws.$status() === 1"></span>
				<span class="off-badge" ng-show="vm.ws.$status() === 3"></span> 
				<span class="wait-badge" ng-show="vm.ws.$status() !== 3 && vm.ws.$status() !== 1"></span>
			</div>
							
				<md-input-container> 
					<label>Compose Message</label> 
					<input ng-model="vm.userInput"> 
				</md-input-container> 

			<div layout="row"> 

				<button ng-click="vm.sendMsg()" class="osxbtn blink">Send</button>

				<span flex></span>
			</div> 

				<md-input-container> 
					<label>Region</label> 
					<input ng-model="vm.customSocketUriForm.p1"> 
				</md-input-container> 
				<md-input-container> 
					<label>Sub Region</label> 
					<input ng-model="vm.customSocketUriForm.p2"> 
				</md-input-container> 
				<md-input-container> 
					<label>Channel</label> 
					<input ng-model="vm.customSocketUriForm.p3"> 
				</md-input-container> 

			<div layout="row"> 

					<button ng-click="vm.closeWsCon()" 
							   class="osxbtn simple" 
							   ng-if="vm.ws.$status() === 1">
						Disconnect
					</button>
					<button ng-click="vm.openWsCon()"  class="osxbtn simple" ng-if="vm.ws.$status() !== 1">
						Connect
					</button>
					<span flex></span>

			</div> 
		</md-content>	  
	</div>
	  
	  
  </div>
</div>