<!-- Category Tile -->
                <div layout-fill flex-offset="10" style="border-radius:25px">
                    <div layout-fill flex-offset="10" layout="column" layout-align="space-between center" style="border-radius:25px">
                        <span flex="30" layout-align="center center">
							<i style="color:white; max-width: 45px; max-height:42px; font-size: 11em"
                               ng-if="tile.icon.prefix !== 'FA' && tile.icon.prefix !== 'ENTYPO'"
                               class="{{tile.icon.code}}">									
								</i>
								<span ng-if="tile.icon.prefix === 'FA'"> 
								<i style="color:white;max-height:42px; font-size: 1.5em"

                                   class="{{tile.icon.code}}">									
								</i>
								</span>
								<i style="color:white;max-height:42px; font-size: 1.5em"
                                   ng-if="tile.icon.prefix === 'ENTYPO'"
                                   class="{{tile.icon.code}}">									
							</i>
                        </span>
                        <div flex="50" layout-wrap layout="row">
                            <span editable-text="tile.name"
                                  layout-margin
                                  layout-align="center center"
                                  onaftersave="vm.updateName(tile)">
											<strong style="color:black">{{ tile.name }}</strong>
							</span>
                            <span flex="20"></span>
                        </div>
                    </div>
                </div>
                <md-grid-tile-footer layout-wrap style="border-radius: 0px 0px 25px 25px;">				
               <!-- <span editable-text="tile.title"
                          layout-wrap 
                          onaftersave="vm.updateTitle(tile)"
                          layout="column">
                        {{ tile.title }}
                    </span>	-->				
					<button class="btn btn-outline-primary" 
                               ng-show="tile.hidden === false"
                               ng-click="vm.selectListItem(tile.id)"
                               layout-align="center center">
                    	<i class="mdi mdi-arrow-right"></i>
                    </button>	
                </md-grid-tile-footer>
				<!--/Category Tile -->