<div class="page-layout carded left-sidenav opaque-global" layout="row">
    <!-- SIDENAV -->
    <md-sidenav class="opaque-global"
                md-is-locked-open="$mdMedia('gt-md')"
                md-component-id="sidenav"
                ms-scroll
				flex="30"
                ms-sidenav-helper>
        <!-- SIDENAV HEADER -->
        <div class="header" layout-padding layout-margin
			 style="height: 76px; max-height: 76px; min-height: 76px">
			<button class="btn btn-outline-primary" ng-click="vm.goBackToCategory()">
				<span class="mdi-24px mdi mdi-arrow-left"></span>
				<md-tooltip>
					Go Back
				</md-tooltip>
        	</button>
        </div>
        <!-- / SIDENAV HEADER -->
        <div class="toolbar-osx" style="color: black">
        </div>
        <!-- SIDENAV CONTENT -->
        <md-content
                style="padding: 0px"
                class="content glass-global"
                ak-frosted-glass
                flex ms-scroll>
            <!-- DEMO SIDENAV -->
            <div ui-tree id="tree-root" data-drop-enabled="false" data-drag-enabled="false" class="glass-global">
                <!-- start slipsum code -->
						<ol ui-tree-nodes
							class="glass-global"
							ng-model="vm.treeData"
							layout="column"
							layout-fill>
							<li ng-repeat="node in vm.treeData"
								ui-tree-node
								ng-include="'nodes_renderer.html'">
							</li>
						</ol>
                <!-- end slipsum code -->
            </div>
            <!-- / DEMO SIDENAV -->
        </md-content>
        <!-- / SIDENAV CONTENT -->
    </md-sidenav>
    <!-- / SIDENAV -->
    <!-- CENTER -->
    <div class="center" layout="column" flex="70" flex-xs="100" flex-sm="100">
        <!-- CONTENT HEADER -->
        <div class="header"
             layout="row"
             style="height: 76px; max-height: 76px; min-height: 76px">
            <div>
                <span class="h2 white-fg">Left sidenav with independent scroll</span>
            </div>
        </div>
        <!-- / CONTENT HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card glass-global" layout="column" flex ak-frosted-glass>
            <!-- CONTENT TOOLBAR -->
            <div class="toolbar-osx"
                 layout="row"
                 layout-align="start center">
                <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('sidenav')" hide-gt-md
                           aria-label="Toggle left sidenav">
                    <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
                </md-button>
                <h4 style="color: black">Content toolbar</h4>
            </div>
            <!-- / CONTENT TOOLBAR -->
            <!-- CONTENT -->
            <md-content class="contentosx"
                        flex
                        ms-scroll
                        style="background-color: rgba(255,255,255,0.45);">
                <div class="container-fluid container-maverix ">
						<ui-codemirror
								ui-codemirror-opts="vm.editorOptions"
								ui-codemirror="{onLoad:vm.codemirrorLoaded}">
						</ui-codemirror>

                </div>
            </md-content>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>


<script type="text/ng-template" id="nodes_renderer.html">
    <md-divider ng-if="!$first"></md-divider>
    <md-whiteframe ui-tree-handle
                   layout-padding
                   ng-class="{'md-whiteframe-1dp':node.canEdit === false,'blackbg':node.canEdit === true}"
                   class="tree-node tree-node-content"
                   layout="row">
<div ng-if="node.nodes && node.nodes.length > 0">
        <button class="btn btn-outline-warning" style="padding:0px;"
                ng-click="vm.toggleFolder(this)">
            <span
                    class="mdi-24px mdi"
                    ng-class="{'mdi-chevron-right': collapsed,'mdi-chevron-down': !collapsed}">
            </span>
            <md-tooltip>Browse {{ node.title }}</md-tooltip>
        </button>
</div>

        <span ng-if="node.icon"
			  class="mdi-36px mdi mdi-{{ node.icon }}"
			  style="color: rgba(255, 255, 255, 0.80)"></span>
        <section ng-if="node.canRemove === true">
            <span class="badge badge-dark">
                {{ node.title }}
            </span>
        </section>
        <section ng-if="node.canRemove === false">
            <!--
            <span class="badge badge-warning">
                {{ node.id }}
            </span>
            -->
            <strong>
                {{ node.title }}
            </strong>
            <!--
            <span class="badge badge-success md-display-3">
                {{ node.nodes.length }}
            </span>
            -->
        </section>
        <div flex></div>
        <div ng-if="node.index !== $index"> <!-- For Debugging, alert user that the indexes are off -->
            <span class="badge badge-danger">
                {{ node.index }}
            </span>
            <span class="badge badge-dark">
                {{ $index }}
            </span>
        </div>
<div ng-if="node.hasUnsavedChanges === true">
        <button class="btn btn-outline-info"
                layout-wrap
                style="padding:5px"
                ng-click="vm.saveEditorWorkToServer(node)">
            <span class="mdi-24px mdi mdi-floppy"></span>
            <!--            <span class="mdi mdi-circle"></span>-->
            <md-tooltip md-visible="demo.showTooltip">
                Save changes of {{ node.title }} to server.
            </md-tooltip>
        </button>
</div>
<div ng-if="node.canEdit === true">
        <button class="btn btn-outline-warning"

                layout-wrap
                style="padding:5px"
                ng-click="vm.loadFileIntoEditor(node.parentIndex, node.index)">
            <span class="mdi-24px mdi mdi-pencil"></span>
            <!--            <span class="mdi mdi-circle"></span>-->
            <md-tooltip md-visible="demo.showTooltip">
                Open {{ node.title }} in editor
            </md-tooltip>
        </button>
</div>
<!--
        <button class="btn btn-outline-danger"
                ng-if="node.canRemove === true"
                layout-wrap
                style="padding:5px"
                ng-click="vm.remove(this)">
            <span class="mdi-24px mdi mdi-remove"></span>
            <md-tooltip md-visible="demo.showTooltip">
                Delete {{ node.title }}
            </md-tooltip>
        </button> -->
<div ng-if="node.canAdd === true">
        <button class="btn btn-outline-success"
                ng-if="node.canAdd === true"
                layout-wrap
                data-max-depth="1"
                ng-click="vm.createNewComponentClick(node)"
                style="margin-right: 8px; padding:0px">
            <span class="mdi-24px mdi mdi-plus"></span>
            <md-tooltip md-visible="demo.showTooltip">
                Add new component to {{ node.class }}
            </md-tooltip>
        </button>
</div>
    </md-whiteframe>
    <ol data-nodrag ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}" ng-show="!collapsed">
        <li ng-repeat="node in node.nodes" ui-tree-node data-nodrag ng-include="'nodes_renderer.html'">
        </li>
    </ol>
</script>

<style>
    button:hover {
        color: black !important;
    }
</style>
<!-- -->