<!--
<span ng-if="vm.bg_image === 1" 
	  ng-include= "'/moho_extractor/NgIncludedHtml/?name=Background_CSS'">
</span>

<span ng-if="vm.bg_image === 2" 
	  ng-include= "'/moho_extractor/NgIncludedHtml/?name=Background_CSS_style_2'">
</span>

<span ng-if="vm.bg_image === 3" 
	  ng-include= "'/moho_extractor/NgIncludedHtml/?name=Background_CSS_style_3'">
</span>
-->



<style>
	/*
	GLOBALSTYLE
	3840 2160
	2880px 1620px
	1920px 1080px
	1440px 810px
	*/
</style>

<span ng-if="!vm.aeroMode">
	<style>
			@media only screen and (max-width: 9000px) {
			md-content.md-default-theme.md-hue-2, md-content.md-hue-2,.opaque-global,md-sidenav,
			kg-drop-down-child,md-toolbar,glass-global,glass-test,body {
				background-size: 3840px 2160px !important;
				background-image: url('') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
				color: white;
			}
			.white-bg-new {
				background-size: 3840px 2160px !important;
				background-image: url('') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
				color: black;
				background-color: rgba(100,100,100,1);
			}
		}
		@media only screen and (max-width: 2880px) and (max-height: 1620px) {
			md-content.md-default-theme.md-hue-2, md-content.md-hue-2,.opaque-global,md-sidenav,
			kg-drop-down-child,md-toolbar,glass-global,glass-test,body {
				background-size: 2880px 1620px !important;
				background-image: url('') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
				color: white;
			}
			.white-bg-new {
				background-size: 2880px 1620px !important;
				background-image: url('') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
				color: white;
				background-color: rgba(100,100,100,1);
			}
		}	
		@media only screen and (max-width: 1920px) and (max-height: 1080px) {
			md-content.md-default-theme.md-hue-2, md-content.md-hue-2,.opaque-global,md-sidenav,
			kg-drop-down-child,md-toolbar,glass-global,glass-test,body {
				background-size: 1920px 1080px !important;
				background-image: url('') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
				color: white;
			}
			.white-bg-new {
				background-size: 1920px 1080px !important;
				background-image: url('') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
				color: black;
				background-color: rgba(100,100,100,1);
			}			
		}
		@media only screen and (max-width: 1440px) and (max-height: 810px) {
			md-content.md-default-theme.md-hue-2, md-content.md-hue-2,.opaque-global,md-sidenav,
			kg-drop-down-child,md-toolbar,glass-global,glass-test,body {
				background-size: 1440px 810px !important;
				background-image: url('') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
				color: white;
			}
						.white-bg-new {
				background-size: 1440px 810px !important;
				background-image: url('') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
				color: black;
							background-color: rgba(100,100,100,1);
			}
		}
		</style>
</span>

<span ng-if="vm.aeroMode">

<!--  WALLPAPER VARIATION 1  -->
<span ng-if="vm.bg_image === 1">
	<style>
		@media only screen and (max-width: 9000px) {
			md-content.md-default-theme.md-hue-2, md-content.md-hue-2,.opaque-global,md-sidenav,
			kg-drop-down-child,md-toolbar,glass-global,glass-test,body {
				background-size: 3840px 2160px !important;
				background-image: url('/static/assets/WoW3_GlassBlur.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
			}
			.white-bg-new {
				background-size: 3840px 2160px !important;
				background-image: url('/static/assets/WoW3_GlassBlur_White.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
				color: black;
			}
		}
		@media only screen and (max-width: 2880px) and (max-height: 1620px) {
			md-content.md-default-theme.md-hue-2, md-content.md-hue-2,.opaque-global,md-sidenav,
			kg-drop-down-child,md-toolbar,glass-global,glass-test,body {
				background-size: 2880px 1620px !important;
				background-image: url('/static/assets/WoW3_GlassBlur.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
			}
			.white-bg-new {
				background-size: 2880px 1620px !important;
				background-image: url('/static/assets/WoW3_GlassBlur_White.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
				color: black;
			}
		}	
		@media only screen and (max-width: 1920px) and (max-height: 1080px) {
			md-content.md-default-theme.md-hue-2, md-content.md-hue-2,.opaque-global,md-sidenav,
			kg-drop-down-child,md-toolbar,glass-global,glass-test,body {
				background-size: 1920px 1080px !important;
				background-image: url('/static/assets/WoW3_GlassBlur.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
			}
			.white-bg-new {
				background-size: 1920px 1080px !important;
				background-image: url('/static/assets/WoW3_GlassBlur_White.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
				color: black;
			}			
		}
		@media only screen and (max-width: 1440px) and (max-height: 810px) {
			md-content.md-default-theme.md-hue-2, md-content.md-hue-2,.opaque-global,md-sidenav,
			kg-drop-down-child,md-toolbar,glass-global,glass-test,body {
				background-size: 1440px 810px !important;
				background-image: url('/static/assets/WoW3_GlassBlur.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
			}
						.white-bg-new {
				background-size: 1440px 810px !important;
				background-image: url('/static/assets/WoW3_GlassBlur_White.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
				color: black;
			}
		}
	</style>
</span>
<!--/ WALLPAPER VARIATION 1  -->

<!--  WALLPAPER VARIATION 2  -->
<span ng-if="vm.bg_image === 2">
	<style>
		@media only screen and (max-width: 9000px) {
			md-content.md-default-theme.md-hue-2, md-content.md-hue-2,.opaque-global,md-sidenav,
			kg-drop-down-child,md-toolbar,glass-global,glass-test,body {
				background-size: 3840px 2160px !important;
				background-image: url('/static/assets/WoW2_GlassBlur.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
			}
			.white-bg-new {
				background-size: 3840px 2160px !important;
				background-image: url('/static/assets/WoW2_GlassBlur_White.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
				color: black;
			}
		}
		@media only screen and (max-width: 2880px) and (max-height: 1620px) {
			md-content.md-default-theme.md-hue-2, md-content.md-hue-2,.opaque-global,md-sidenav,
			kg-drop-down-child,md-toolbar,glass-global,glass-test,body {
				background-size: 2880px 1620px !important;
				background-image: url('/static/assets/WoW2_GlassBlur.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
			}
			.white-bg-new {
				background-size: 2880px 1620px !important;
				background-image: url('/static/assets/WoW2_GlassBlur_White.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
				color: black;
			}
		}	
		@media only screen and (max-width: 1920px) and (max-height: 1080px) {
			md-content.md-default-theme.md-hue-2, md-content.md-hue-2,.opaque-global,md-sidenav,
			kg-drop-down-child,md-toolbar,glass-global,glass-test,body {
				background-size: 1920px 1080px !important;
				background-image: url('/static/assets/WoW2_GlassBlur.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
			}
			.white-bg-new {
				background-size: 1920px 1080px !important;
				background-image: url('/static/assets/WoW2_GlassBlur_White.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
				color: black;
			}
		}
		@media only screen and (max-width: 1440px) and (max-height: 810px) {
			md-content.md-default-theme.md-hue-2, md-content.md-hue-2,.opaque-global,md-sidenav,
			kg-drop-down-child,md-toolbar,glass-global,glass-test,body {
				background-size: 1440px 810px !important;
				background-image: url('/static/assets/WoW2_GlassBlur.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
			}
			.white-bg-new {
				background-size: 1440px 810px !important;
				background-image: url('/static/assets/WoW2_GlassBlur_White.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
				color: black;
			}
		}
	</style>
</span>
<!--/ WALLPAPER VARIATION 2  -->

<!--  WALLPAPER VARIATION 3  -->
<span ng-if="vm.bg_image === 3">
	<style>
		@media only screen and (max-width: 9000px) {
			md-content.md-default-theme.md-hue-2, md-content.md-hue-2,.opaque-global,md-sidenav,
			kg-drop-down-child,md-toolbar,glass-global,glass-test,body {
				background-size: 3840px 2160px !important;
				background-image: url('/static/assets/WoW_GlassBlur.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
			}
			.white-bg-new {
				background-size: 3840px 2160px !important;
				background-image: url('/static/assets/WoW_GlassBlur_White.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
				color: black;
			}
		}
		@media only screen and (max-width: 2880px) and (max-height: 1620px) {
			md-content.md-default-theme.md-hue-2, md-content.md-hue-2,.opaque-global,md-sidenav,
			kg-drop-down-child,md-toolbar,glass-global,glass-test,body {
				background-size: 2880px 1620px !important;
				background-image: url('/static/assets/WoW_GlassBlur.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
			}
			.white-bg-new {
				background-size: 2880px 1620px !important;
				background-image: url('/static/assets/WoW_GlassBlur_White.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
				color: black;
			}
		}	
		@media only screen and (max-width: 1920px) and (max-height: 1080px) {
			md-content.md-default-theme.md-hue-2, md-content.md-hue-2,.opaque-global,md-sidenav,
			kg-drop-down-child,md-toolbar,glass-global,glass-test,body {
				background-size: 1920px 1080px !important;
				background-image: url('/static/assets/WoW_GlassBlur.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
			}
			.white-bg-new {
				background-size: 1920px 1080px !important;
				background-image: url('/static/assets/WoW_GlassBlur_White.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
				color: black;
			}
		}
		@media only screen and (max-width: 1440px) and (max-height: 810px) {
			md-content.md-default-theme.md-hue-2, md-content.md-hue-2,.opaque-global,md-sidenav,
			kg-drop-down-child,md-toolbar,glass-global,glass-test,body {
				background-size: 1440px 810px !important;
				background-image: url('/static/assets/WoW_GlassBlur.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
			}
			.white-bg-new {
				background-size: 1440px 810px !important;
				background-image: url('/static/assets/WoW_GlassBlur_White.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
				color: black;
			}
		}
	</style>
</span>
<!--/ WALLPAPER VARIATION 3  -->

<!--  WALLPAPER VARIATION 4  -->
<span ng-if="vm.bg_image === 4">
	<style>
		@media only screen and (max-width: 9000px) {
			md-content.md-default-theme.md-hue-2, md-content.md-hue-2,.opaque-global,md-sidenav,
			kg-drop-down-child,md-toolbar,glass-global,glass-test,body {
				background-size: 3840px 2160px !important;
				background-image: url('/static/assets/BG-regular-03.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
			}
			.white-bg-new {
				background-size: 3840px 2160px !important;
				background-image: url('/static/assets/BG-white-03.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
				color: black;
			}
		}
		@media only screen and (max-width: 2880px) and (max-height: 1620px) {
			md-content.md-default-theme.md-hue-2, md-content.md-hue-2,.opaque-global,md-sidenav,
			kg-drop-down-child,md-toolbar,glass-global,glass-test,body {
				background-size: 2880px 1620px !important;
				background-image: url('/static/assets/BG-regular-03.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
			}
			.white-bg-new {
				background-size: 2880px 1620px !important;
				background-image: url('/static/assets/BG-white-03.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
				color: black;
			}
		}	
		@media only screen and (max-width: 1920px) and (max-height: 1080px) {
			md-content.md-default-theme.md-hue-2, md-content.md-hue-2,.opaque-global,md-sidenav,
			kg-drop-down-child,md-toolbar,glass-global,glass-test,body {
				background-size: 1920px 1080px !important;
				background-image: url('/static/assets/BG-regular-03.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
			}
			.white-bg-new {
				background-size: 1920px 1080px !important;
				background-image: url('/static/assets/BG-white-03.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
				color: black;
			}
		}
		@media only screen and (max-width: 1440px) and (max-height: 810px) {
			md-content.md-default-theme.md-hue-2, md-content.md-hue-2,.opaque-global,md-sidenav,
			kg-drop-down-child,md-toolbar,glass-global,glass-test,body {
				background-size: 1440px 810px !important;
				background-image: url('/static/assets/BG-regular-03.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
			}
			.white-bg-new {
				background-size: 1440px 810px !important;
				background-image: url('/static/assets/BG-white-03.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
				color: black;
			}
		}
	</style>
</span>
<!--/ WALLPAPER VARIATION 4  -->

<!--  WALLPAPER VARIATION 5  -->
<span ng-if="vm.bg_image === 5">
	<style>
		@media only screen and (max-width: 9000px) {
			md-content.md-default-theme.md-hue-2, md-content.md-hue-2,.opaque-global,md-sidenav,
			kg-drop-down-child,md-toolbar,glass-global,glass-test,body {
				background-size: 3840px 2160px !important;
				background-image: url('/static/assets/BG-regular-02.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
			}
			.white-bg-new {
				background-size: 3840px 2160px !important;
				background-image: url('/static/assets/BG-white-02.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
				color: black;
			}
		}
		@media only screen and (max-width: 2880px) and (max-height: 1620px) {
			md-content.md-default-theme.md-hue-2, md-content.md-hue-2,.opaque-global,md-sidenav,
			kg-drop-down-child,md-toolbar,glass-global,glass-test,body {
				background-size: 2880px 1620px !important;
				background-image: url('/static/assets/BG-regular-02.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
			}
			.white-bg-new {
				background-size: 2880px 1620px !important;
				background-image: url('/static/assets/BG-white-02.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
				color: black;
			}
		}	
		@media only screen and (max-width: 1920px) and (max-height: 1080px) {
			md-content.md-default-theme.md-hue-2, md-content.md-hue-2,.opaque-global,md-sidenav,
			kg-drop-down-child,md-toolbar,glass-global,glass-test,body {
				background-size: 1920px 1080px !important;
				background-image: url('/static/assets/BG-regular-02.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
			}
			.white-bg-new {
				background-size: 1920px 1080px !important;
				background-image: url('/static/assets/BG-white-02.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
				color: black;
			}
		}
		@media only screen and (max-width: 1440px) and (max-height: 810px) {
			md-content.md-default-theme.md-hue-2, md-content.md-hue-2,.opaque-global,md-sidenav,
			kg-drop-down-child,md-toolbar,glass-global,glass-test,body {
				background-size: 1440px 810px !important;
				background-image: url('/static/assets/BG-regular-02.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
			}
			.white-bg-new {
				background-size: 1440px 810px !important;
				background-image: url('/static/assets/BG-white-02.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
				color: black;
			}
		}
	</style>
</span>
<!--/ WALLPAPER VARIATION 5  -->


<!--  WALLPAPER VARIATION 6  -->
<span ng-if="vm.bg_image === 6">
	<style>
		@media only screen and (max-width: 9000px) {
            md-content.md-default-theme.md-hue-2, md-content.md-hue-2, .opaque-global, md-sidenav,
            kg-drop-down-child, md-toolbar, glass-global, glass-test, body {
                background-size: 3840px 2160px !important;
                background-image: url('/static/assets/BG-regular-04.jpg') !important;
                background-repeat: no-repeat;
                background-position: left top;
                background-attachment: fixed !important;
            }

            .white-bg-new {
                background-size: 3840px 2160px !important;
                background-image: url('/static/assets/BG-white-04.jpg') !important;
                background-repeat: no-repeat;
                background-position: left top;
                background-attachment: fixed !important;
                color: black;
            }
        }

        @media only screen and (max-width: 2880px) and (max-height: 1620px) {
            md-content.md-default-theme.md-hue-2, md-content.md-hue-2, .opaque-global, md-sidenav,
            kg-drop-down-child, md-toolbar, glass-global, glass-test, body {
                background-size: 2880px 1620px !important;
                background-image: url('/static/assets/BG-regular-04.jpg') !important;
                background-repeat: no-repeat;
                background-position: left top;
                background-attachment: fixed !important;
            }

            .white-bg-new {
                background-size: 2880px 1620px !important;
                background-image: url('/static/assets/BG-white-04.jpg') !important;
                background-repeat: no-repeat;
                background-position: left top;
                background-attachment: fixed !important;
                color: black;
            }
        }

        @media only screen and (max-width: 1920px) and (max-height: 1080px) {
            md-content.md-default-theme.md-hue-2, md-content.md-hue-2, .opaque-global, md-sidenav,
            kg-drop-down-child, md-toolbar, glass-global, glass-test, body {
                background-size: 1920px 1080px !important;
                background-image: url('/static/assets/BG-regular-04.jpg') !important;
                background-repeat: no-repeat;
                background-position: left top;
                background-attachment: fixed !important;
            }

            .white-bg-new {
                background-size: 1920px 1080px !important;
                background-image: url('/static/assets/BG-white-04.jpg') !important;
                background-repeat: no-repeat;
                background-position: left top;
                background-attachment: fixed !important;
                color: black;
            }
        }

        @media only screen and (max-width: 1440px) and (max-height: 810px) {
            md-content.md-default-theme.md-hue-2, md-content.md-hue-2, .opaque-global, md-sidenav,
            kg-drop-down-child, md-toolbar, glass-global, glass-test, body {
                background-size: 1440px 810px !important;
                background-image: url('/static/assets/BG-regular-04.jpg') !important;
                background-repeat: no-repeat;
                background-position: left top;
                background-attachment: fixed !important;
            }

            .white-bg-new {
                background-size: 1440px 810px !important;
                background-image: url('/static/assets/BG-white-04.jpg') !important;
                background-repeat: no-repeat;
                background-position: left top;
                background-attachment: fixed !important;
                color: black;
            }
        }
	</style>
</span>
<!--/ WALLPAPER VARIATION 6  -->

<!--  WALLPAPER VARIATION 7  -->
<span ng-if="vm.bg_image === 7">
	<style>
		@media only screen and (max-width: 9000px) {
            md-content.md-default-theme.md-hue-2, md-content.md-hue-2, .opaque-global, md-sidenav,
            kg-drop-down-child, md-toolbar, glass-global, glass-test, body {
                background-size: 3840px 2160px !important;
                background-image: url('/static/assets/BG-regular-05.jpg') !important;
                background-repeat: no-repeat;
                background-position: left top;
                background-attachment: fixed !important;
            }

            .white-bg-new {
                background-size: 3840px 2160px !important;
                background-image: url('/static/assets/BG-white-05.jpg') !important;
                background-repeat: no-repeat;
                background-position: left top;
                background-attachment: fixed !important;
                color: black;
            }
        }

        @media only screen and (max-width: 2880px) and (max-height: 1620px) {
            md-content.md-default-theme.md-hue-2, md-content.md-hue-2, .opaque-global, md-sidenav,
            kg-drop-down-child, md-toolbar, glass-global, glass-test, body {
                background-size: 2880px 1620px !important;
                background-image: url('/static/assets/BG-regular-05.jpg') !important;
                background-repeat: no-repeat;
                background-position: left top;
                background-attachment: fixed !important;
            }

            .white-bg-new {
                background-size: 2880px 1620px !important;
                background-image: url('/static/assets/BG-white-05.jpg') !important;
                background-repeat: no-repeat;
                background-position: left top;
                background-attachment: fixed !important;
                color: black;
            }
        }

        @media only screen and (max-width: 1920px) and (max-height: 1080px) {
            md-content.md-default-theme.md-hue-2, md-content.md-hue-2, .opaque-global, md-sidenav,
            kg-drop-down-child, md-toolbar, glass-global, glass-test, body {
                background-size: 1920px 1080px !important;
                background-image: url('/static/assets/BG-regular-05.jpg') !important;
                background-repeat: no-repeat;
                background-position: left top;
                background-attachment: fixed !important;
            }

            .white-bg-new {
                background-size: 1920px 1080px !important;
                background-image: url('/static/assets/BG-white-05.jpg') !important;
                background-repeat: no-repeat;
                background-position: left top;
                background-attachment: fixed !important;
                color: black;
            }
        }

        @media only screen and (max-width: 1440px) and (max-height: 810px) {
            md-content.md-default-theme.md-hue-2, md-content.md-hue-2, .opaque-global, md-sidenav,
            kg-drop-down-child, md-toolbar, glass-global, glass-test, body {
                background-size: 1440px 810px !important;
                background-image: url('/static/assets/BG-regular-05.jpg') !important;
                background-repeat: no-repeat;
                background-position: left top;
                background-attachment: fixed !important;
            }

            .white-bg-new {
                background-size: 1440px 810px !important;
                background-image: url('/static/assets/BG-white-05.jpg') !important;
                background-repeat: no-repeat;
                background-position: left top;
                background-attachment: fixed !important;
                color: black;
            }
        }
	</style>
</span>
<!--/ WALLPAPER VARIATION 7  -->

<!--  WALLPAPER VARIATION 8  -->
<span ng-if="vm.bg_image === 8">
	<style>
		@media only screen and (max-width: 9000px) {
            md-content.md-default-theme.md-hue-2, md-content.md-hue-2, .opaque-global, md-sidenav,
            kg-drop-down-child, md-toolbar, glass-global, glass-test, body {
                background-size: 3840px 2160px !important;
                background-image: url('/static/assets/BG-regular-06.jpg') !important;
                background-repeat: no-repeat;
                background-position: left top;
                background-attachment: fixed !important;
            }

            .white-bg-new {
                background-size: 3840px 2160px !important;
                background-image: url('/static/assets/BG-white-06.jpg') !important;
                background-repeat: no-repeat;
                background-position: left top;
                background-attachment: fixed !important;
                color: black;
            }
        }

        @media only screen and (max-width: 2880px) and (max-height: 1620px) {
            md-content.md-default-theme.md-hue-2, md-content.md-hue-2, .opaque-global, md-sidenav,
            kg-drop-down-child, md-toolbar, glass-global, glass-test, body {
                background-size: 2880px 1620px !important;
                background-image: url('/static/assets/BG-regular-06.jpg') !important;
                background-repeat: no-repeat;
                background-position: left top;
                background-attachment: fixed !important;
            }

            .white-bg-new {
                background-size: 2880px 1620px !important;
                background-image: url('/static/assets/BG-white-06.jpg') !important;
                background-repeat: no-repeat;
                background-position: left top;
                background-attachment: fixed !important;
                color: black;
            }
        }

        @media only screen and (max-width: 1920px) and (max-height: 1080px) {
            md-content.md-default-theme.md-hue-2, md-content.md-hue-2, .opaque-global, md-sidenav,
            kg-drop-down-child, md-toolbar, glass-global, glass-test, body {
                background-size: 1920px 1080px !important;
                background-image: url('/static/assets/BG-regular-06.jpg') !important;
                background-repeat: no-repeat;
                background-position: left top;
                background-attachment: fixed !important;
            }

            .white-bg-new {
                background-size: 1920px 1080px !important;
                background-image: url('/static/assets/BG-white-06.jpg') !important;
                background-repeat: no-repeat;
                background-position: left top;
                background-attachment: fixed !important;
                color: black;
            }
        }

        @media only screen and (max-width: 1440px) and (max-height: 810px) {
            md-content.md-default-theme.md-hue-2, md-content.md-hue-2, .opaque-global, md-sidenav,
            kg-drop-down-child, md-toolbar, glass-global, glass-test, body {
                background-size: 1440px 810px !important;
                background-image: url('/static/assets/BG-regular-06.jpg') !important;
                background-repeat: no-repeat;
                background-position: left top;
                background-attachment: fixed !important;
            }

            .white-bg-new {
                background-size: 1440px 810px !important;
                background-image: url('/static/assets/BG-white-06.jpg') !important;
                background-repeat: no-repeat;
                background-position: left top;
                background-attachment: fixed !important;
                color: black;
            }
        }
	</style>
</span>
<!--/ WALLPAPER VARIATION 8  -->

<!--  WALLPAPER VARIATION 9  -->
<span ng-if="vm.bg_image === 9">
	<style>
		@media only screen and (max-width: 9000px) {
            md-content.md-default-theme.md-hue-2, md-content.md-hue-2, .opaque-global, md-sidenav,
            kg-drop-down-child, md-toolbar, glass-global, glass-test, body {
                background-size: 3840px 2160px !important;
                background-image: url('/static/assets/BG-regular-07.jpg') !important;
                background-repeat: no-repeat;
                background-position: left top;
                background-attachment: fixed !important;
            }

            .white-bg-new {
                background-size: 3840px 2160px !important;
                background-image: url('/static/assets/BG-white-07.jpg') !important;
                background-repeat: no-repeat;
                background-position: left top;
                background-attachment: fixed !important;
                color: black;
            }
        }

        @media only screen and (max-width: 2880px) and (max-height: 1620px) {
            md-content.md-default-theme.md-hue-2, md-content.md-hue-2, .opaque-global, md-sidenav,
            kg-drop-down-child, md-toolbar, glass-global, glass-test, body {
                background-size: 2880px 1620px !important;
                background-image: url('/static/assets/BG-regular-07.jpg') !important;
                background-repeat: no-repeat;
                background-position: left top;
                background-attachment: fixed !important;
            }

            .white-bg-new {
                background-size: 2880px 1620px !important;
                background-image: url('/static/assets/BG-white-07.jpg') !important;
                background-repeat: no-repeat;
                background-position: left top;
                background-attachment: fixed !important;
                color: black;
            }
        }

        @media only screen and (max-width: 1920px) and (max-height: 1080px) {
            md-content.md-default-theme.md-hue-2, md-content.md-hue-2, .opaque-global, md-sidenav,
            kg-drop-down-child, md-toolbar, glass-global, glass-test, body {
                background-size: 1920px 1080px !important;
                background-image: url('/static/assets/BG-regular-07.jpg') !important;
                background-repeat: no-repeat;
                background-position: left top;
                background-attachment: fixed !important;
            }

            .white-bg-new {
                background-size: 1920px 1080px !important;
                background-image: url('/static/assets/BG-white-07.jpg') !important;
                background-repeat: no-repeat;
                background-position: left top;
                background-attachment: fixed !important;
                color: black;
            }
        }

        @media only screen and (max-width: 1440px) and (max-height: 810px) {
            md-content.md-default-theme.md-hue-2, md-content.md-hue-2, .opaque-global, md-sidenav,
            kg-drop-down-child, md-toolbar, glass-global, glass-test, body {
                background-size: 1440px 810px !important;
                background-image: url('/static/assets/BG-regular-07.jpg') !important;
                background-repeat: no-repeat;
                background-position: left top;
                background-attachment: fixed !important;
            }

            .white-bg-new {
                background-size: 1440px 810px !important;
                background-image: url('/static/assets/BG-white-07.jpg') !important;
                background-repeat: no-repeat;
                background-position: left top;
                background-attachment: fixed !important;
                color: black;
            }
        }
	</style>
</span>
	
</span>
<!--/ WALLPAPER VARIATION 8  -->