<style>
	.codescrollbars::-webkit-scrollbar {
		width: 12px;
	}

	/* Track */
	.codescrollbars::-webkit-scrollbar-track {
		background-image: url("/static/textured_tiles/txture.png") !important;
	} 

	/* Handle */
	.codescrollbars::-webkit-scrollbar-thumb {
		background-color: rgba(100, 100, 250, 0.45);
	}

	/* Handle on hover */
	.codescrollbars::-webkit-scrollbar-thumb:hover {
		background-color: rgba(0, 5, 25, 0.65);
	}


	.white-bg-new {
		background-size: 3840px 2160px !important;
		background-image: url('/static/assets/WoW3_GlassBlur_White.jpg') !important;
		background-repeat: no-repeat;
		background-position: left top;
		background-attachment: fixed !important;
		color: black;
	} 

	.bg-sunken {
		background-color: rgba(0, 0, 0, 0.2);
		color: white;
	}

	/*
	GLOBALSTYLE
	3840 2160
	2880px 1620px
	1920px 1080px
	1440px 810px
	*/
</style>

<!--  WALLPAPER VARIATION 1  -->
<span ng-if="vm.bg_image === 1">
	<style>
		@media only screen and (max-width: 9000px) {
			md-content.md-default-theme.md-hue-2, md-content.md-hue-2,.opaque-global,md-sidenav,
			kg-drop-down-child,md-toolbar,glass-global,glass-test,body {
				background-size: 3840px 2160px !important;
				background-image: url('/static/assets/WoW3_GlassBlur.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
			}
		}
		@media only screen and (max-width: 2880px) and (max-height: 1620px) {
			md-content.md-default-theme.md-hue-2, md-content.md-hue-2,.opaque-global,md-sidenav,
			kg-drop-down-child,md-toolbar,glass-global,glass-test,body {
				background-size: 2880px 1620px !important;
				background-image: url('/static/assets/WoW3_GlassBlur.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
			}
		}	
		@media only screen and (max-width: 1920px) and (max-height: 1080px) {
			md-content.md-default-theme.md-hue-2, md-content.md-hue-2,.opaque-global,md-sidenav,
			kg-drop-down-child,md-toolbar,glass-global,glass-test,body {
				background-size: 1920px 1080px !important;
				background-image: url('/static/assets/WoW3_GlassBlur.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
			}
		}
		@media only screen and (max-width: 1440px) and (max-height: 810px) {
			md-content.md-default-theme.md-hue-2, md-content.md-hue-2,.opaque-global,md-sidenav,
			kg-drop-down-child,md-toolbar,glass-global,glass-test,body {
				background-size: 1440px 810px !important;
				background-image: url('/static/assets/WoW3_GlassBlur.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
			}
		}
	</style>
</span>
<!--/ WALLPAPER VARIATION 1  -->

<!--  WALLPAPER VARIATION 2  -->
<span ng-if="vm.bg_image === 2">
	<style>
		@media only screen and (max-width: 9000px) {
			md-content.md-default-theme.md-hue-2, md-content.md-hue-2,.opaque-global,md-sidenav,
			kg-drop-down-child,md-toolbar,glass-global,glass-test,body {
				background-size: 3840px 2160px !important;
				background-image: url('/static/assets/WoW2_GlassBlur.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
			}
		}
		@media only screen and (max-width: 2880px) and (max-height: 1620px) {
			md-content.md-default-theme.md-hue-2, md-content.md-hue-2,.opaque-global,md-sidenav,
			kg-drop-down-child,md-toolbar,glass-global,glass-test,body {
				background-size: 2880px 1620px !important;
				background-image: url('/static/assets/WoW2_GlassBlur.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
			}
		}	
		@media only screen and (max-width: 1920px) and (max-height: 1080px) {
			md-content.md-default-theme.md-hue-2, md-content.md-hue-2,.opaque-global,md-sidenav,
			kg-drop-down-child,md-toolbar,glass-global,glass-test,body {
				background-size: 1920px 1080px !important;
				background-image: url('/static/assets/WoW2_GlassBlur.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
			}
		}
		@media only screen and (max-width: 1440px) and (max-height: 810px) {
			md-content.md-default-theme.md-hue-2, md-content.md-hue-2,.opaque-global,md-sidenav,
			kg-drop-down-child,md-toolbar,glass-global,glass-test,body {
				background-size: 1440px 810px !important;
				background-image: url('/static/assets/WoW2_GlassBlur.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
			}
		}
	</style>
</span>
<!--/ WALLPAPER VARIATION 1  -->

<!--  WALLPAPER VARIATION 3  -->
<span ng-if="vm.bg_image === 3">
	<style>
		@media only screen and (max-width: 9000px) {
			md-content.md-default-theme.md-hue-2, md-content.md-hue-2,.opaque-global,md-sidenav,
			kg-drop-down-child,md-toolbar,glass-global,glass-test,body {
				background-size: 3840px 2160px !important;
				background-image: url('/static/assets/WoW_GlassBlur.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
			}
		}
		@media only screen and (max-width: 2880px) and (max-height: 1620px) {
			md-content.md-default-theme.md-hue-2, md-content.md-hue-2,.opaque-global,md-sidenav,
			kg-drop-down-child,md-toolbar,glass-global,glass-test,body {
				background-size: 2880px 1620px !important;
				background-image: url('/static/assets/WoW_GlassBlur.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
			}
		}	
		@media only screen and (max-width: 1920px) and (max-height: 1080px) {
			md-content.md-default-theme.md-hue-2, md-content.md-hue-2,.opaque-global,md-sidenav,
			kg-drop-down-child,md-toolbar,glass-global,glass-test,body {
				background-size: 1920px 1080px !important;
				background-image: url('/static/assets/WoW_GlassBlur.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
			}
		}
		@media only screen and (max-width: 1440px) and (max-height: 810px) {
			md-content.md-default-theme.md-hue-2, md-content.md-hue-2,.opaque-global,md-sidenav,
			kg-drop-down-child,md-toolbar,glass-global,glass-test,body {
				background-size: 1440px 810px !important;
				background-image: url('/static/assets/WoW_GlassBlur.jpg') !important;
				background-repeat: no-repeat;
				background-position: left top;
				background-attachment: fixed !important;
			}
		}
	</style>
</span>
<!--/ WALLPAPER VARIATION 1  -->




<!-- 
@-webkit-keyframes SCALE-INFINITE {
0% {
-ms-transform: scale(1.0, 1.0); /* IE 9 */
-webkit-transform: scale(1.0, 1.0); /* Safari */
transform: scale(1.0, 1.0); /* Standard syntax */
}
50% {
-ms-transform: scale(1.01, 1.01); /* IE 9 */
-webkit-transform: scale(1.01, 1.01); /* Safari */
transform: scale(1.01, 1.01); /* Standard syntax */
}
100% {
-ms-transform: scale(1.0, 1.0); /* IE 9 */
-webkit-transform: scale(1.0, 1.0); /* Safari */
transform: scale(1.0, 1.0); /* Standard syntax */
}
}

.redb {
border-radius: 3px;
border-style: solid;
border-width: 1px;
border-color: #D32F2F;
}

.blueb {
border-radius: 3px !important;
border-style: solid !important;
border-width: 1px !important;
border-color: #2196F3 !important;
}

.var-display {
width: 60px;
padding: 5px;
border-radius: 10px;
}

-->