<!-- CONTENT TOOLBAR -->
				
				
                <button class="toolbar-button btn btn-modern ide-toolbar-btn" 
						ng-click="vm.toggleSidenav('sidenav')"
						ng-if="vm.sideNavLocked===false"
                        aria-label="Toggle left sidenav">
                    <i class="entypo entypo-menu ide-tool-btn" style="font-size:1.2em"></i>
                </button>

  
	<button class="toolbar-button btn btn-modern ide-toolbar-btn" ng-click="vm.hideStatusBar = !vm.hideStatusBar">toggle</button>

				<!--
                <button class="toolbar-button" ng-click="vm.loadOSXDoc()">
					<i class="entypo entypo-newspaper ide-tool-btn" style="font-size:1.4em"></i>
					<md-tooltip>
						Display Raw Tree Data As JSON
					</md-tooltip>
				</button>								
				
                <button class="toolbar-button" ng-click="vm.highlightSyntaxGetHtmlProperties()">			
					<i class="entypo entypo-eye ide-tool-btn" style="font-size:1.4em"></i>
					<md-tooltip>
						Highlight All "ng-click"
					</md-tooltip>
				</button>
 
                <button class="toolbar-button" ng-click="vm.isDisplayingPropModal = !vm.isDisplayingPropModal">			
					<i class="entypo entypo-code ide-tool-btn" style="font-size:1.4em"></i>
					<md-tooltip>
						Scan Controller Properties
					</md-tooltip>
				</button>

                <button class="toolbar-button" ng-click="vm.highlightCollectedVMs()">			
					<i class="entypo entypo-check ide-tool-btn" style="font-size:1.4em"></i>
					<md-tooltip>
						Highlight VMs
					</md-tooltip>
				</button> 
                
				-->
				<button class="toolbar-button ide-toolbar-btn" ng-click="vm.beautifyCode()">			
					<i class="entypo entypo-switch ide-tool-btn" style="font-size:1.2em"></i>
					<md-tooltip>
						Reformat Code (beautify)
					</md-tooltip>
				</button> 

				<div flex="5"></div>
				
				<input type="text" placeholder="Highlight String..." ng-model="vm.findStringForm" class="mvx-search">
				<div class="btn-group">
					<button class="toolbar-button ide-toolbar-btn" ng-click="vm.highlightInputCustom()"> 
						<i class="entypo entypo-search ide-tool-btn" style="font-size:1.2em"></i>
						<md-tooltip>
							Highlight Input
						</md-tooltip>
					</button>				
					<button class="toolbar-button ide-toolbar-btn" ng-click="vm.removeHighlights()">			
						<i class="entypo entypo-cancel ide-tool-btn" style="font-size:1.2em"></i>
						<md-tooltip>
							Remove Highlights
						</md-tooltip>
					</button>
				</div>
				<div flex="20"></div>

		






				<div flex="5"></div>

				<input type="text" 
					   placeholder="Rename {{vm.openedDocTitle}}" 
					   ng-model="vm.renameObjectForm.new" 
					   ng-if="vm.openedDocTitle !== 'INVALID_FOR_RENAME'">
                <button class="toolbar-button" ng-click="vm.renameObjectSubmit()" ng-if="vm.openedDocTitle !== 'INVALID_FOR_RENAME'">
					<i class="entypo entypo-check ide-tool-btn" style="font-size:1.2em"></i>
					<md-tooltip>
						Rename Object Submit
					</md-tooltip>
				</button>
				
            
            <!-- / CONTENT TOOLBAR -->