<div class="page-layout carded left-sidenav" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- SIDENAV -->
    <md-sidenav class="sidenav glass-test"
                md-is-locked-open="$mdMedia('gt-md')"
                md-component-id="sidenav"
                ms-scroll
                ms-sidenav-helper>

        <!-- SIDENAV HEADER -->
        <div class="header">
            <p>Sidenav header</p>
        </div>
        <!-- / SIDENAV HEADER -->

        <!-- SIDENAV CONTENT -->
        <md-content class="content" flex ms-scroll>

            <!-- DEMO SIDENAV -->
            <div>
                <!-- start slipsum code -->
                <h3>Uuummmm, this is a tasty burger!</h3>

                <!-- end slipsum code -->
            </div>
            <!-- / DEMO SIDENAV -->

        </md-content>
        <!-- / SIDENAV CONTENT -->

    </md-sidenav>
    <!-- / SIDENAV -->

    <!-- CENTER -->
    <div class="center" layout="column" flex>

        <!-- CONTENT HEADER -->
        <div class="header" layout="row">
            <div>
                <span class="h2 white-fg">Left sidenav with independent scroll</span>
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar" layout="row" layout-align="start center" style="color:black">
                <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('sidenav')" hide-gt-md
                           aria-label="Toggle left sidenav">
                    <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
                </md-button>

                <p>Content toolbar</p>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <md-content class="content glass-test" flex ms-scroll >

                <!-- DEMO CONTENT -->
                <div>
                    <!-- start slipsum code -->

                    <md-button class="md-primary" ng-click="vm.didClickLoadScript()">
                        Lazy Load Master View Controller
                    </md-button>
                    <md-button class="md-primary" ng-click="vm.didClickLoadModule()">
                        Open Lazy State
                    </md-button>
                    <md-button class="md-primary" ng-click="vm.loadView()">
                        load view
                    </md-button>
                    <md-button class="md-primary" ng-click="vm.triggerButton('examplePage')">
                        examplePage
                    </md-button>
                    <!-- end slipsum code -->
                    <div id="foo">
                        <ak-foo>
                            THIS IS AK FOO
                        </ak-foo>
                    </div>
                    <md-card style="background-color: #0b3e6f">
                        THE NAME OF THIS STATE:
                        <h1>{{ vm.stateObjectViewName }}</h1>
                    </md-card>
                </div>
                <!-- / DEMO CONTENT -->

            </md-content>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>