<!doctype html>
<html ng-app="fuse">

<head>
    <base href="/"/>
    <meta charset="utf-8"/>

    <meta name="description"
          content="{{ description }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=0.85, maximum-scale=1.00"/>
    <link rel="shortcut icon" type="image/jpg" href="/static/favicon.ico"/>

    <title id="browser_tab_text">{{ message }}</title>
    <meta id="krogoth_gantryMetaImage_01" name="twitter:image:src" content="/static/ArmLogoVector.svg"/>
    <meta id="krogoth_gantryMetaImage_02" content="/static/CoreLogoVector.svg"/>

    <!--<meta name="twitter:image:alt" content="{{ splash_title }}"/>-->
    <meta name="twitter:image:alt" content="/static/ArmLogoVectorWhite.svg"/>
    <meta property="og:site_name" content="Powered by Django Krogoth"/>
    <meta property="og:locale" content="en_US"/>

    <meta name="msvalidate.01" content="886E5F10D7612105B6C98936B33E1D24"/>
    <meta name="google-site-verification" content="MF6sr36SRcMLLyvQra1-xXWDxWQSut4shwf-pCigTSg"/>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107036799-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments)
        }

        gtag('js', new Date());

        gtag('config', 'UA-107036799-1');
    </script>


    {% verbatim %}


</head>
<body md-theme="{{vm.themes.active.name}}"
      md-theme-watch
      ng-controller="IndexController as vm"
      style="background-color: rgba(0, 0, 0, 0) !important;"
      class="{{state.current.bodyClass || ''}} multi_bg_example_opaque">


<!-- <script type="text/javascript" src="/static/bower_components/threejs/three.min.js"></script> -->


<ms-splash-screen id="splash-screen" style="background: rgba(10, 10, 15, 1.0);">
    <div class='loader'>
        <div class='circle'></div>
        <div class='circle'></div>
        <div class='circle'></div>
        <div class='circle'></div>
        <div class='circle'></div>
    </div>
</ms-splash-screen>


<span style="display: none" id="krogoth_gantryMetaText_01">{{ version_build }}</span>
<div id="main" class="animate-fade-in-out" ui-view="main" layout="column"></div>


<script src="/static/bower_components/jquery/dist/jquery.js"></script>
<script src="/static/bower_components/api-check-7.5.5/api-check.js"></script>


<script src="/static/bower_components/angular1.7/angular.min.js"></script>
<script src="/static/bower_components/angular1.7/angular-aria.min.js"></script>
<script src="/static/bower_components/angular1.7/angular-cookies.min.js"></script>
<script src="/static/bower_components/angular1.7/angular-animate.min.js"></script>
<script src="/static/bower_components/angular1.7/angular-messages.min.js"></script>
<script src="/static/bower_components/angular1.7/angular-resource.min.js"></script>
<script src="/static/bower_components/angular1.7/angular-sanitize.min.js"></script>
<script src="/static/bower_components/angular1.7/angular-touch.min.js"></script>


<script src="/static/bower_components/chart.js/dist/Chart.min.js"></script>
<script src="/static/bower_components/angular-chart.js/dist/angular-chart.min.js"></script>
<script src="/static/bower_components/chartist/dist/chartist.min.js"></script>
<script src="/static/bower_components/angular-chartist.js/dist/angular-chartist.min.js"></script>
<script src="/static/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/bower_components/angular-datatables/dist/angular-datatables.min.js"></script>
<script src="/static/bower_components/angular-datatables/dist/plugins/bootstrap/angular-datatables.bootstrap.min.js"></script>
<script src="/static/bower_components/angular-datatables/dist/plugins/colreorder/angular-datatables.colreorder.min.js"></script>
<script src="/static/bower_components/angular-datatables/dist/plugins/columnfilter/angular-datatables.columnfilter.min.js"></script>
<script src="/static/bower_components/angular-datatables/dist/plugins/light-columnfilter/angular-datatables.light-columnfilter.min.js"></script>
<script src="/static/bower_components/angular-datatables/dist/plugins/colvis/angular-datatables.colvis.min.js"></script>
<script src="/static/bower_components/angular-datatables/dist/plugins/fixedcolumns/angular-datatables.fixedcolumns.min.js"></script>
<script src="/static/bower_components/angular-datatables/dist/plugins/fixedheader/angular-datatables.fixedheader.min.js"></script>
<script src="/static/bower_components/angular-datatables/dist/plugins/scroller/angular-datatables.scroller.min.js"></script>
<script src="/static/bower_components/angular-datatables/dist/plugins/tabletools/angular-datatables.tabletools.min.js"></script>
<script src="/static/bower_components/angular-datatables/dist/plugins/buttons/angular-datatables.buttons.min.js"></script>
<script src="/static/bower_components/angular-datatables/dist/plugins/select/angular-datatables.select.min.js"></script>
<script src="/static/bower_components/angular-native-dragdrop/draganddrop.min.js"></script>
<script src="/static/bower_components/jsPlumb/dist/js/jsPlumb-2.0.5.js"></script>
<script src="/static/bower_components/moment/moment.js"></script>
<script src="/static/bower_components/angular-moment/angular-moment.min.js"></script>
<script src="/static/bower_components/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
<script src="/static/bower_components/lodash/lodash.js"></script>
<!-- <script src="/static/bower_components/angular-google-maps/dist/angular-google-maps.js"></script> -->
<script src="/static/bower_components/angular-material/angular-material.min.js"></script>
<script src="/static/bower_components/d3/d3.min.js"></script>
<script src="/static/bower_components/nvd3/build/nv.d3.min.js"></script>
<script src="/static/bower_components/angular-nvd3/dist/angular-nvd3.min.js"></script>
<script src="/static/bower_components/humanize-duration/humanize-duration.js"></script>
<script src="/static/bower_components/angular-timer/dist/angular-timer.min.js"></script>
<script src="/static/bower_components/angular-translate/angular-translate.min.js"></script>
<script src="/static/bower_components/angular-translate-loader-partial/angular-translate-loader-partial.min.js"></script>
<script src="/static/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="/static/bower_components/angular-ui-calendar/src/calendar.js"></script>
<script src="/static/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/static/bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/bower_components/angular-ui-sortable/sortable.min.js"></script>
<script src="/static/bower_components/angular-ui-tree/dist/angular-ui-tree.min.js"></script>
<script src="/static/bower_components/angular-xeditable/dist/js/xeditable.min.js"></script>
<script src="/static/bower_components/c3/c3.min.js"></script>
<script src="/static/bower_components/c3-angular/c3-angular.min.js"></script>
<script src="/static/bower_components/css-element-queries/src/ElementQueries.js"></script>
<script src="/static/bower_components/css-element-queries/src/ResizeSensor.js"></script>
<script src="/static/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/static/bower_components/datatables-responsive/js/dataTables.responsive.js"></script>
<script src="/static/bower_components/highlightjs/highlight.pack.min.js"></script>
<script src="/static/bower_components/ev-emitter/ev-emitter.js"></script>
<script src="/static/bower_components/imagesloaded/imagesloaded.js"></script>
<script src="/static/bower_components/jqueryui-touch-punch/jquery.ui.touch-punch.min.js"></script>
<script src="/static/bower_components/mobile-detect/mobile-detect.min.js"></script>
<script src="/static/bower_components/moment-picker/dist/angular-moment-picker.min.js"></script>
<script src="/static/bower_components/moment-range/dist/moment-range.min.js"></script>
<script src="/static/bower_components/flow.js/dist/flow.min.js"></script>
<script src="/static/bower_components/ng-flow/dist/ng-flow.min.js"></script>
<script src="/static/bower_components/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
<script src="/static/bower_components/Sortable/Sortable.min.js"></script>
<script src="/static/bower_components/Sortable/ng-sortable.js"></script>
<script src="/static/bower_components/rangy/rangy-core.min.js"></script>
<script src="/static/bower_components/rangy/rangy-classapplier.min.js"></script>
<script src="/static/bower_components/rangy/rangy-highlighter.min.js"></script>
<script src="/static/bower_components/rangy/rangy-selectionsaverestore.min.js"></script>
<script src="/static/bower_components/rangy/rangy-serializer.min.js"></script>
<script src="/static/bower_components/rangy/rangy-textrange.min.js"></script>


<script src="/static/bower_components/textAngular/dist/textAngular.min.js"></script>
<script src="/static/bower_components/textAngular/dist/textAngular-sanitize.min.js"></script>
<script src="/static/bower_components/textAngular/dist/textAngularSetup.js"></script>

<script src="/static/bower_components/wip-image-zoom/dist/wip-image-zoom.min.js"></script>
<script src="/static/bower_components/angular-django-rest-resource/angular-django-rest-resource.js"></script>

<script src="/static/bower_components/ng-websocket/ng-websocket.js"></script>
<script src="/static/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
<script src="/static/bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>

<script src="/static/bower_components/angular-formly/formly.js"></script>


<script src="/static/jkcarousel/jk-carousel.min.js"></script>

<script type="text/javascript" src="/static/fixtures/angular/ui-codemirror.js"></script>
<script type="text/javascript" src="/static/fixtures/lib/codemirror.js"></script>
<script type="text/javascript" src="/static/fixtures/mode/xml/xml.js"></script>
<script type="text/javascript" src="/static/fixtures/mode/htmlmixed/htmlmixed.js"></script>
<script type="text/javascript" src="/static/fixtures/mode/htmlembedded/htmlembedded.js"></script>
<script type="text/javascript" src="/static/fixtures/mode/javascript/javascript.js"></script>
<script type="text/javascript" src="/static/fixtures/mode/css/css.js"></script>
<script type="text/javascript" src="/static/fixtures/addon/edit/matchtags.js"></script>
<script type="text/javascript" src="/static/fixtures/addon/edit/closebrackets.js"></script>
<script type="text/javascript" src="/static/fixtures/addon/edit/continuelist.js"></script>
<script type="text/javascript" src="/static/fixtures/addon/edit/matchbrackets.js"></script>
<script type="text/javascript" src="/static/fixtures/addon/edit/matchtags.js"></script>
<script type="text/javascript" src="/static/fixtures/addon/edit/trailingspace.js"></script>
<script type="text/javascript" src="/static/fixtures/addon/hint/javascript-hint.js"></script>


{% endverbatim %}


<!-- Compiled Frontend Goes: /static/compiled/ -->
<!--KrogothGantryMasterViewControllers-->
{% for fuse_app in KrogothGantryMasterViewControllers %}
    <script src="{{ fuse_app }}"></script>
{% endfor %}


<script type="text/javascript" src="/global_static_text/load_static_text_readonly/quick-panel.module.js"></script>
<script type="text/javascript" src="/global_static_text/load_static_text_readonly/core.module.js"></script>
{#<script src="/moho_extractor/KrogothFoundation/?unique_name=quick-panelmodule"></script>#}
{#<script src="/moho_extractor/KrogothFoundation/?unique_name=coremodule"></script>#}


<!--KrogothFoundation-->
{% for com in core %}
    <script src="/moho_extractor/KrogothFoundation/?unique_name={{ com }}"></script>
{% endfor %}


<script type="text/javascript" src="/global_static_text/load_static_text_readonly/toolbar.module.js"></script>
<script type="text/javascript" src="/global_static_text/load_static_text_readonly/toolbar.controller.js"></script>
<script type="text/javascript" src="/global_static_text/load_static_text_readonly/navigation.module.js"></script>
<script type="text/javascript" src="/global_static_text/load_static_text_readonly/navigation.controller.js"></script>
<script type="text/javascript" src="/global_static_text/load_static_text_readonly/quick-panel.controller.js"></script>
<script type="text/javascript" src="/global_static_text/load_static_text_readonly/index.module.js"></script>
<script type="text/javascript" src="/global_static_text/load_static_text_readonly/main.controller.js"></script>
<script type="text/javascript" src="/global_static_text/load_static_text_readonly/core.run.js"></script>
<script type="text/javascript" src="/global_static_text/load_static_text_readonly/core.config.js"></script>
<script type="text/javascript" src="/global_static_text/load_static_text_readonly/index.run.js"></script>
<script type="text/javascript" src="/global_static_text/load_static_text_readonly/index.route.js"></script>
<script type="text/javascript" src="/global_static_text/load_static_text_readonly/index.controller.js"></script>
<script type="text/javascript" src="/global_static_text/load_static_text_readonly/index.constants.js"></script>
<script type="text/javascript" src="/global_static_text/load_static_text_readonly/index.config.js"></script>
{#<script type="text/javascript" src="/global_static_text/load_static_text_readonly/index.api.js"></script>#}





<link rel="stylesheet" href="//cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css">


<p id="krogoth_gantryVersion" style="display: none">{{ version_build }}</p>


<link href="/static/bower_components/entypo_icons/stylesheets.css" rel="stylesheet"/>
<link rel='stylesheet' href='/static/bower_components/chartist/dist/chartist.min.css'/>
<link rel='stylesheet' href='/static/bower_components/angular-datatables/dist/css/angular-datatables.css'/>
<link rel='stylesheet'
      href='/static/bower_components/angular-datatables/dist/plugins/bootstrap/datatables.bootstrap.min.css'/>
<link rel='stylesheet' href='/static/bower_components/nvd3/build/nv.d3.css'/>
<link rel='stylesheet' href='/static/bower_components/fullcalendar/dist/fullcalendar.css'/>
<link rel='stylesheet' href='/static/bower_components/angular-ui-tree/dist/angular-ui-tree.css'/>
<link rel='stylesheet' href='/static/bower_components/angular-xeditable/dist/css/xeditable.css'/>
<link rel='stylesheet' href='/static/bower_components/c3/c3.css'/>
<link rel='stylesheet' href='/static/bower_components/datatables/media/css/jquery.dataTables.css'/>
<link rel='stylesheet' href='/static/bower_components/highlightjs/styles/default.css'/>
<link rel='stylesheet' href='/static/bower_components/moment-picker/dist/angular-moment-picker.min.css'/>
<link rel='stylesheet' href='/static/bower_components/perfect-scrollbar/css/perfect-scrollbar.css'/>
<link rel='stylesheet' href='/static/bower_components/textAngular/dist/textAngular.css'/>
<link rel='stylesheet' href='/static/bower_components/wip-image-zoom/dist/wip-image-zoom.css'/>
<link rel='stylesheet' href='/static/bower_components/angular-ui-tree/dist/angular-ui-tree.min.css'/>

<!-- VERIFIED AND USED BY WEB IDE --- 02-27-2019-->
<link rel="stylesheet" href="/static/fixtures/lib/codemirror.css"/>
<link rel="stylesheet" href="/static/colorforth.css"/>
<link rel="stylesheet" href="/static/fixtures/theme/dracula.css"/>
<link rel="stylesheet" href="/static/fixtures/theme/ambiance.css"/>
<link rel="stylesheet" href="/static/fixtures/theme/erlang-dark.css"/>


<link rel="stylesheet" href="/static/jkcarousel/jk-carousel.min.css"/>

<!--
    <link rel="stylesheet" href="/static/app/index.css"/>-->
<link rel="stylesheet" href="/static/fonts/myriad.css"/>

<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700italic,700,900,900italic'
      rel='stylesheet' type='text/css'/>

{{ load_krogoth_css }}
{{ load_custom_css }}
{{ load_background_css }}
{{ load_core_css }}
{{ load_core_elements_css }}

</body>
</html>
