<div layout="row" layout-align="center center" style="height:100px;">
			&nbsp;
        </div>

<div layout="row">
    <div flex="10"></div>
    <div flex style="background-color:white;" md-whiteframe layout-margin>

        <div layout="row" layout-align="center center" layout-padding>
			<span class="md-display-2" ng-if="vm.messageUI === ''">Contact Us</span>
			<div ng-if="vm.messageUI !== ''">
                <span class="md-display-2">Thank you.</span>
            </div>
        </div>
        <div layout="column" layout-padding>
            <md-input-container  ng-if="vm.messageUI === ''">
                <label>Subject</label>
                <input required ng-model="vm.formData.title">
            </md-input-container>

            <md-input-container  ng-if="vm.messageUI === ''">
                <label>Your Email</label>
                <input required
                       type="email"
                       name="sender"
                       ng-model="vm.formData.sender"
                       maxlength="120"
                       ng-pattern="/^.+@.+\..+$/"/>

                <div ng-messages="vm.formData.sender.$error" role="alert">
                    <div ng-message-exp="['required', 'maxlength', 'pattern']">
                        A valid email address is required.
                    </div>
                </div>
            </md-input-container>

            <md-input-container  ng-if="vm.messageUI === ''">
                <label>Please enter any questions or concerns here.</label>
                <textarea required
                          name="sender"
                          ng-model="vm.formData.body">
                </textarea>
                <div ng-messages="vm.formData.sender.$error" role="alert">
                    <div ng-message-exp="['required']">
                        Your message content is required.
                    </div>
                </div>
            </md-input-container>
            <div layout="row" layout-align="center center">
                <md-button ng-click="vm.submitForm()"
                           class="md-button md-primary md-raised"
                           type="submit"
                           ng-if="vm.shouldHideBtn === false">
                    Submit</md-button>
            </div>
            <div ng-if="vm.messageUI !== ''">
                <div style="height:80px"></div>
            </div>

            <div ng-if="vm.messageUI !== ''">
                <span class="md-display-1"></span>

                <span>{{vm.messageUI}}</span>

            </div>
            <div ng-if="vm.messageUI !== ''">
                <span style="height:100px"></span>
            </div>
        </div>
    </div>
    <div flex="10"></div>
</div>