<div ng-cloak="" layout-gt-sm="row" layout="column" class="listdemoBasicUsage left-sidenav" layout-fill layout-align-sm="space-between stretch">
  <md-sidenav flex-gt-sm="50" flex="" layout-fill class="clear-bg opaque-global sidenav" ms-sidenav-helper md-is-locked-open="true">
    <md-toolbar layout="row"> 
      <div class="md-toolbar-tools">
        <span>Socket Message Feed</span>
      </div>
    </md-toolbar>
    <md-content>
      <md-list flex="" class="clear-bg glass-global">
        <md-subheader class="md-sticky" style="color: orange;">Showing raw messages in native JSON</md-subheader>
        <md-list-item class="md-2-line" ng-repeat="item in vm.messagesTracked" ng-click="null">
          <div class="md-list-item-text" layout="column">
            <h3>OBJECT: {{ $index }}</h3>
            <pre>{{ item | json }}</pre>
          </div>
        </md-list-item>
        <md-divider></md-divider>
      </md-list>
    </md-content>
  </md-sidenav>
  <md-divider></md-divider>
  <div flex-gt-sm="50" flex="" class="clear-bg opaque-global">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <span>Dense</span>
      </div>
    </md-toolbar>
    <md-content layout="column" class="clear-bg opaque-global">
            <md-input-container class="glass-global">
                <label>Compose Message</label>
                <input ng-model="vm.userInput">
            </md-input-container>
            <button ng-click="vm.sendMsg()"  class="btn btn-lg btn-outline-primary">SEND</button>

		<md-divider></md-divider>
		<div>
            <span class="badge-pill badge-success" ng-if="vm.ws.$status() === 1">
                CONNECTED
            </span>
            <span class="badge-pill badge-danger" ng-if="vm.ws.$status() === 3">
                OFFLINE
            </span>
            <span class="badge-pill badge-warning" ng-if="vm.ws.$status() !== 3 && vm.ws.$status() !== 1">
                LOADING
            </span>
		</div>

		<md-divider></md-divider>
            <md-button ng-click="vm.closeWsCon()" 
					   class="btn btn-lg btn-outline-danger" 
					   ng-if="vm.ws.$status() === 1">
                Disconnect
            </md-button>
            <md-button ng-click="vm.openWsCon()"  class="btn btn-lg btn-outline-success" ng-if="vm.ws.$status() !== 1">
                Connect
            </md-button>

    </md-content>
  </div>
</div>