<style>

    @media only screen and (max-width: 9000px) {

        .ms-navigation .ms-navigation-node .ms-navigation-item > .ms-navigation-button.active {
            /*
                color: #FFFFFF;
                background-color: rgba(0, 106, 255, 0.73);*/
            background-size: 3840px 2160px;
         background-repeat: no-repeat;
            background-position: left top;
            background-attachment: fixed;
            transition: all 0.8s;
        }

    }

    @media only screen and (max-width: 2880px) and (max-height: 1620px) {
        .ms-navigation .ms-navigation-node .ms-navigation-item > .ms-navigation-button.active {
            /*
                color: #FFFFFF;
                background-color: rgba(0, 106, 255, 0.73);*/
            background-size: 2880px 1620px;
        background-repeat: no-repeat;
            background-position: left top;
            background-attachment: fixed;
            transition: all 0.8s;
        }
    }

    @media only screen and (max-width: 1920px) and (max-height: 1080px) {
        .ms-navigation .ms-navigation-node .ms-navigation-item > .ms-navigation-button.active {
            /*
                color: #FFFFFF;
                background-color: rgba(0, 106, 255, 0.73);*/
            background-size: 1920px 1080px;
        background-repeat: no-repeat;
            background-position: left top;
            background-attachment: fixed;
            transition: all 0.8s;
        }

    }

    @media only screen and (max-width: 1440px) and (max-height: 810px) {
        .ms-navigation .ms-navigation-node .ms-navigation-item > .ms-navigation-button.active {
            background-size: 1440px 810px;
        background-repeat: no-repeat;
            background-position: left top;
            background-attachment: fixed;
            transition: all 0.8s;
        }
    }

    @media only screen and (max-width: 9000px) {
        md-content.md-default-theme.md-hue-2, md-content.md-hue-2, .opaque-global,
        kg-drop-down-child, body {
            background-size: 3000px 3000px;
            background-image: url('/static/fancy_bgs/EPIC_Planet-3-opaque-3k.jpg');
            background-repeat: no-repeat;
            background-position: left top;
            background-attachment: fixed;
            transition: all 0.8s;
        }

        md-toolbar, md-sidenav, glass-global, glass-test, .black-bg-new {
            background-size: 3000px 3000px;
            background-image: url('/static/fancy_bgs/EPIC_Planet-3-blur-3k.jpg');
            background-repeat: no-repeat;
            background-position: left top;
            background-attachment: fixed;
         transition: all 0.8s;
        }

        .palewhite-bg-new {
            background-size: 3840px 2160px;
        background-repeat: no-repeat;
            background-position: left top;
            background-attachment: fixed;
        transition: all 0.8s;
        }

        .white-bg-new {
            background-size: 3840px 2160px;
            background-image: url('/static/assets/Main-BG-GBlur-LOWREZ.jpg');
            background-repeat: no-repeat;
            background-position: left top;
            background-attachment: fixed;
        transition: all 0.8s;
        }
    }

    @media only screen and (max-width: 2880px) and (max-height: 1620px) {
        md-content.md-default-theme.md-hue-2, md-content.md-hue-2, .opaque-global,
        kg-drop-down-child, body {
            background-size: 3000px 3000px;
            background-image: url('/static/fancy_bgs/EPIC_Planet-3-opaque-3k.jpg');
            background-repeat: no-repeat;
            background-position: left top;
            background-attachment: fixed;
            transition: all 0.8s;
        }

        md-toolbar, md-sidenav, glass-global, glass-test, .black-bg-new {
            background-size: 3000px 3000px;
            background-image: url('/static/fancy_bgs/EPIC_Planet-3-blur-3k.jpg');
            background-repeat: no-repeat;
            background-position: left top;
            background-attachment: fixed;
         transition: all 0.8s;
        }

        .palewhite-bg-new {
            background-size: 2880px 1620px;
            background-image: url('/static/assets/Main-BG-WhiteGlass-LOWREZ.jpg');
            background-repeat: no-repeat;
            background-position: left top;
            background-attachment: fixed;
        transition: all 0.8s;
        }

        .white-bg-new {
            background-size: 2880px 1620px;
            background-image: url('/static/assets/Main-BG-GBlur-LOWREZ.jpg');
            background-repeat: no-repeat;
            background-position: left top;
            background-attachment: fixed;
        transition: all 0.8s;
        }
    }

    @media only screen and (max-width: 1920px) and (max-height: 1080px) {
        md-content.md-default-theme.md-hue-2, md-content.md-hue-2, .opaque-global,
        kg-drop-down-child, body {
            background-size: 3000px 3000px;
            background-image: url('/static/fancy_bgs/EPIC_Planet-3-opaque-3k.jpg');
            background-repeat: no-repeat;
            background-position: left top;
            background-attachment: fixed;
            transition: all 0.8s;
        }

        md-toolbar, md-sidenav, glass-global, glass-test, .black-bg-new {
            background-size: 3000px 3000px;
            background-image: url('/static/fancy_bgs/EPIC_Planet-3-blur-3k.jpg');
            background-repeat: no-repeat;
            background-position: left top;
            background-attachment: fixed;
        transition: all 0.8s;
        }

        .palewhite-bg-new {
            background-size: 1920px 1080px;
        background-repeat: no-repeat;
            background-position: left top;
            background-attachment: fixed;
        transition: all 0.8s;
        }

        .white-bg-new {
            background-size: 1920px 1080px;
            background-image: url('/static/assets/Main-BG-GBlur-LOWREZ.jpg');
            background-repeat: no-repeat;
            background-position: left top;
            background-attachment: fixed;
         transition: all 0.8s;
        }
    }

    @media only screen and (max-width: 1440px) and (max-height: 810px) {
        md-content.md-default-theme.md-hue-2, md-content.md-hue-2, .opaque-global,
        kg-drop-down-child, body {
            background-size: 3000px 3000px;
            background-image: url('/static/fancy_bgs/EPIC_Planet-3-opaque-3k.jpg');
            background-repeat: no-repeat;
            background-position: left top;
            background-attachment: fixed;
            transition: all 0.8s;
        }


        md-toolbar, md-sidenav, glass-global, glass-test, .black-bg-new {
            background-size: 3000px 3000px;
            background-image: url('/static/fancy_bgs/EPIC_Planet-3-blur-3k.jpg');
            background-repeat: no-repeat;
            background-position: left top;
            background-attachment: fixed;
            transition: all 0.8s;
        }

        .palewhite-bg-new {
            background-size: 1440px 810px;
            background-image: url('/static/assets/BG-black-07.jpg');
            background-repeat: no-repeat;
            background-position: left top;
            background-attachment: fixed;
            transition: all 0.8s;
        }

        .white-bg-new {
            background-size: 1440px 810px;
            background-image: url('/static/assets/BG-black-07.jpg');
            background-repeat: no-repeat;
            background-position: left top;
            background-attachment: fixed;
            transition: all 0.8s;
        }
    }

</style>