<md-toolbar class="navigation-header" layout="row" layout-align="space-between center">
    <div class="logo" layout="row" layout-align="start center">
        <img src="/static/CoreLogoVectorWhite.svg" width="40">
        <span class="logo-text md-background-fg md-hue-3 armprime-title-1"
              style="font-family: haettenschweilerregular; letter-spacing: 3px; color: white">
				DJANGULAR
			</span>
    </div>

    <md-icon class="fold-toggle s18" md-font-icon="icon-backburger" hide show-gt-sm
             ng-click="vm.toggleMsNavigationFolded()"></md-icon>
</md-toolbar>

<ms-navigation class="scrollable" folded="vm.folded" ms-scroll="vm.msScrollOptions"></ms-navigation>