
    #login-v2 #login-v2-form-wrapper {
        background-image: url('/static/styles/assets/ArmPrimeBg_b-login.jpg');
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 3096px 2352px;
        background-attachment: fixed;
        border-color: rgba(0, 0, 0, 0.70) !important;
    }

    .md-background-bg {
        background-color: rgba(0, 0, 0, 0.0) !important;
    }

    .glass_bg {
        background-image: url('/static/styles/assets/ArmPrimeBg_b-login.jpg');
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 3096px 2352px;
        background-attachment: fixed;
        border-color: rgba(0, 0, 0, 0.70) !important;
    }

    #login-v2 {
        height: 100%;
        overflow: hidden;
        background-image: url('/static/styles/assets/ArmPrimeBg-login.jpg');
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 3096px 2352px;
        background-color: rgba(0, 0, 0, 0) !important;
    }

    .multi_bg_example_opaque {
        background-image: url('/static/styles/assets/ArmPrimeBg-login.jpg');
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 3096px 2352px;
        background-color: rgba(0, 0, 0, 0) !important;
    }

    .multi_bg_example_glass {
        background-image: url('/static/styles/assets/ArmPrimeBg_b-login.jpg');
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 3096px 2352px;
        background-attachment: fixed;
    }

    .md-hover-button-amber-dark-bg:hover {
        background-color: rgb(255, 171, 0) !important;
        border-color: rgb(255, 171, 0) !important;
        color: rgb(60, 66, 82) !important;
    }

    .md-hover-button-amber-dark-bg {
        border-style: solid !important;
        border-width: 1px !important;
        color: rgb(255, 171, 0) !important;
        border-color: rgb(255, 171, 0) !important;
    }
