<style>

	.toolbarTopWindow {

		border-bottom: solid 1px #686868;
		background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U0ZTRlNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2I4YjdiOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
		background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e4e4e4), color-stop(100%, #b8b7b8));
		background: -moz-linear-gradient(#e4e4e4, #b8b7b8);
		background: -webkit-linear-gradient(#e4e4e4, #b8b7b8);
		background: linear-gradient(#e4e4e4, #b8b7b8);
		-moz-box-shadow: #f1f1f1 0 1px inset;
		-webkit-box-shadow: #f1f1f1 0 1px inset;
		box-shadow: #f1f1f1 0 1px inset;
		-moz-border-radius: 6px 6px 0 0;
		-webkit-border-radius: 6px;
		border-radius: 6px 6px 0 0;
	}

</style>


<section style="background-color: rgba(255,255,255,0.0);">
	<div class="content">
		<div class="container-fluid container-maverix panel " >
			<div class="sub-nav-content-container  panel-heading">
				<div layout-padding layout-margin>
					<h1 style="margin-top: 10px">
						{{vm.viewName}}
					</h1>
				</div>
				<div layout-padding layout-margin>
					<h3 style="margin-top: 10px">
						Dynamic Mode
					</h3>
				</div>
				<div layout-padding layout-margin>
				<p>
					Instead of loading every single AngularJS component during the initial
					bootstrap sequence, load the module only when the user needs it, dynamically.
				</p>		
				</div>

			</div>
			
			<div class=" sub-nav-content-container panel-body" 
				 layout-align="space-between stretch"
				 layout-padding
				 layout-margin>
				
				<p class="nfo">
					Once loaded, you should see the newly loaded Krogoth Master View Controller appear in the 
					navigation under: Lazy_Loader - Example_1 - LOADED DYNAMICALLY
				</p>		
				
				<div layout-padding layout-margin class="custom-menu variation2" layout-align="space-between end">

					<button ng-click="vm.stateGoToLazy()" class="btn btn-primary">Enter Dynamic State</button>
					<label class="ui-label">
						Go to hardcoded MVC, assuming that it's been loaded.
					</label>
				</div>
				
				<div layout-padding layout-margin class="custom-menu variation2" layout-align="space-between end">
					
					<button ng-click="vm.initLazyModule()" class="btn btn-default">Load Module Dynamically</button>
					<label class="ui-label">
						Load a hardcoded MVC
					</label>
					
				</div>
				<div layout-padding layout-margin class="custom-menu" layout-align="space-between center">
					<md-divider>
				</div>
				<div layout-padding layout-margin class="custom-menu" layout-align="space-between center">
					<input type="text" placeholder="Unique Name For New MVC" ng-model="vm.lazyToken"/>
				</div>				
				<div layout-padding layout-margin class="custom-menu" layout-align="space-between stretch">
					
					<button  ng-click="vm.initTokenizedLazyModule()" class="btn btn-capsule">Load Tokenized Lazy MVC</button>
					<label class="ui-label">
						Load Custom MVC
					</label>
					
				</div>
				<div layout-padding layout-margin class="custom-menu" layout-align="space-between stretch">
					<button  ng-click="vm.initAndGo()" class="btn btn-modern">Load Tokenized Then Redirect</button>
					<label class="ui-label">
						Load Custom MVC Then Open
					</label>

				</div>				
				
				
				<ak-main layout-padding layout-margin>

				</ak-main>
			</div>			

			
			
			
			
		</div>
	</div>
</section>