<style>

	.toolbarTopWindow {

		border-bottom: solid 1px #686868;
		background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U0ZTRlNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2I4YjdiOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
		background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e4e4e4), color-stop(100%, #b8b7b8));
		background: -moz-linear-gradient(#e4e4e4, #b8b7b8);
		background: -webkit-linear-gradient(#e4e4e4, #b8b7b8);
		background: linear-gradient(#e4e4e4, #b8b7b8);
		-moz-box-shadow: #f1f1f1 0 1px inset;
		-webkit-box-shadow: #f1f1f1 0 1px inset;
		box-shadow: #f1f1f1 0 1px inset;
		-moz-border-radius: 6px 6px 0 0;
		-webkit-border-radius: 6px;
		border-radius: 6px 6px 0 0;
	}

</style>


<section style="background-color: rgba(255,255,255,0.0);">
	<div class="content">
		<div class="container-fluid container-maverix panel " >
			<div class="sub-nav-content-container  panel-heading">
				<div layout-padding layout-margin>
					<h1 style="margin-top: 10px">
						{{vm.viewName}}
					</h1>
				</div>
				<div layout-padding layout-margin>
					<h3 style="margin-top: 10px">
						Generic KGData Test Flight Area
					</h3>
				<p>
					Json interface located in moho_extractor.
				</p>	
				</div>
			</div>
			
			
			<div class=" sub-nav-content-container panel-body" 
				 layout-align="space-between stretch"
				 layout-padding
				 layout-margin>

				
				
				
				
				<!--   API CALL 1   -->
				<p class="nfo">
					RESTful Forms
				</p>		
				<div layout-padding layout-margin class="custom-menu" layout-align="space-between center">
					<input type="text" placeholder="uid" ng-model="vm.input_uid"/>
				</div>	
				<div layout-padding layout-margin class="custom-menu variation2" layout-align="space-between end">
					<button ng-click="vm.getKGDataByUID()" class="btn btn-default">GET GenericKGData</button>
					<label class="ui-label">
						Get one Generic KGData by it's unique identifier "uid"
					</label>
				</div>
				<div layout-padding layout-margin class="custom-menu variation2" layout-align="space-between end">
					<pre>
						{{ vm.singleKGData }}
					</pre>
				</div>
				<!-- / API CALL 1 / -->
				
				
				
				
				
				
				
				
				
				
				
				
				<!--   MVC RELOADER   -->
				<div layout-padding layout-margin class="custom-menu" layout-align="space-between center">
					<md-divider></md-divider>
				</div>
				<div layout-padding layout-margin class="custom-menu" layout-align="space-between center">
					<input type="text" placeholder="Unique Name For New MVC" ng-model="vm.lazyToken"/>
				</div>				
				<div layout-padding layout-margin class="custom-menu" layout-align="space-between stretch">
					<button  ng-click="vm.initAndGo()" class="btn btn-modern">Reload Page</button>
					<label class="ui-label">
						Load Custom MVC Then Open
					</label>
				</div>				
				<ak-main layout-padding layout-margin>

				</ak-main>
				<!-- / MVC RELOADER / -->
				
				
				
			</div>			

			
			
			
			
		</div>
	</div>
</section>