<div id="profile" class="page-layout simple tabbed">


    <section class="timeline-tab" flex>


        <div layout="row" layout-wrap>

            <span flex="5">
                &nbsp;
            </span>
            <div class="timeline" layout="column" flex="95">


                <h4>Manufacturer RESTful Form</h4>
                <div class="profile-box add-post md-whiteframe-1dp clear-bg glass-global" ak-frosted-glass>
                    <div class="form" flex>
                        <md-input-container>
                            <label>name</label>
                            <input ng-model="vm.RESTfulJSONPayload.name">
                        </md-input-container>
                        <md-input-container>
                            <label>description</label>
                            <input ng-model="vm.RESTfulJSONPayload.description">
                        </md-input-container>
                        <footer layout="row" layout-align="space-between center">
                            <div layout="row" layout-align="start center">

                            </div>

                            <md-button ng-click="vm.postNewObject()"
                                       class="post-button md-accent md-raised"
                                       aria-label="POST">
                                POST
                            </md-button>
                        </footer>
                    </div>
                </div>


                <md-divider></md-divider>
				<section>
				    <pre>
				        {{ vm.jsonResponse | json }}
				    </pre>
				</section>
                <div class="timeline-item md-whiteframe-1dp clear-bg glass-global"

                        ak-frosted-glass>

                    <header style="background-color: rgba(0,0,0,0.25)"
                            layout="row"
                            layout-align="space-between start">
                        <div class="user" layout="row" layout-align="start center">
                            <div layout="column">
                                <div class="title">
                                    <span class="username md-accent-color">Manufacturers in SQL</span>
                                </div>
                            </div>
                        </div>
                    </header>

                    <div class="content" flex ng-cloak style="background-color: rgba(0,0,0,0.20)">
                        <md-grid-list


                                md-cols="4"
                                md-row-height="1:1"
                                md-gutter="8px" md-gutter-gt-sm="4px">

                            <md-grid-tile ng-repeat="tile in vm.jsonResponse"
                                          md-rowspan="1"
                                          md-colspan="1"
                                          style="background-color: rgba(0,0,0,0.25)">
                                <md-grid-tile-header style="padding: 10px;"><h2>{{tile.name}}</h2></md-grid-tile-header>
                                <br>
                                <h5>{{tile.description}}</h5>

                                <md-grid-tile-footer>
                                    <md-button
                                            class="md-fab md-warn md-mini md-red-bg"
                                            ng-click="vm.deleteObject(tile.name)"
                                            style="color: #ffffff">
                                        <i class="icon mdi mdi-delete"></i>
                                    </md-button>
                                </md-grid-tile-footer>
                            </md-grid-tile>
                        </md-grid-list>
                    </div>

                    <footer style="background-color: rgba(255, 255, 255, 0.45)"
                            class=""
                            layout="column"
                            layout-align="start start">
                        <div class="comment" layout="row" layout-fill>
                            <div flex layout="column">
                                <h2 style="color: #0F192A">Manufacturer RESTful Form</h2>
                                <h3 style="color: #0F192A"><b>POST</b> : '/krogoth_examples/simple_api/__ExamplesManufacturer/'</h3>
                                <div class="message" style="background-color: rgba(255, 255, 255, 0.20)">

                                    <pre>
                                        {{ vm.RESTfulJSONPayload | json }}
                                    </pre>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
            <span flex>
                &nbsp;
            </span>
        </div>

    </section>


</div>


