/*GLOBALSTYLE*/


    @font-face {
        font-family: 'haettenschweilerregular';
        src: url('/static/fonts/haettenschweiler-webfont.woff2') format('woff2'),
        url('/static/fonts/haettenschweiler-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    .icon-ta-arm {
        display: inline-block;
        width: 30px;
        height: 30px;
        background-image: url('/static/ArmLogoVectorWhite.svg');
        background-repeat: no-repeat;
        background-position: center center;
    }

    .icon-ta-core {
        display: inline-block;
        width: 30px;
        height: 30px;
        background-image: url('/static/CoreLogoVectorWhite.svg');
        background-repeat: no-repeat;
        background-position: center center;
    }

    @-webkit-keyframes MOVE-BG {
        0% {
            -webkit-transform: translateX(0%);
        }
        50% {
            -webkit-transform: translateX(-9%);
        }
        100% {
            -webkit-transform: translateX(0%);
        }
    }

    @-webkit-keyframes SCALE-INFINITE {
        0% {
            -ms-transform: scale(1.0, 1.0); /* IE 9 */
            -webkit-transform: scale(1.0, 1.0); /* Safari */
            transform: scale(1.0, 1.0); /* Standard syntax */
        }
        50% {
            -ms-transform: scale(1.01, 1.01); /* IE 9 */
            -webkit-transform: scale(1.01, 1.01); /* Safari */
            transform: scale(1.01, 1.01); /* Standard syntax */
        }
        100% {
            -ms-transform: scale(1.0, 1.0); /* IE 9 */
            -webkit-transform: scale(1.0, 1.0); /* Safari */
            transform: scale(1.0, 1.0); /* Standard syntax */
        }
    }

    .redb {
        border-radius: 3px;
        border-style: solid;
        border-width: 1px;
        border-color: #D32F2F;
    }
    .blueb {
        border-radius: 3px !important;
        border-style: solid !important;
        border-width: 1px !important;
        border-color: #2196F3 !important;
    }
    .var-display {
        width:60px;
        padding:5px;
        border-radius: 10px;
    }



/*EndGlobalStyle*/