<md-toolbar>
	<div class="md-toolbar-tools">
		<div class="md-display-1" style="color:white">Select Catagory</div>
	</div>
</md-toolbar>
<span>
	&nbsp;&nbsp;&nbsp;&nbsp;
</span>
<div layout="row">

	<span>
		&nbsp;&nbsp;&nbsp;&nbsp;
	</span>

	<div flex ng-cloak>
		<md-grid-list
					  md-cols="1" md-cols-sm="2" md-cols-md="2" md-cols-gt-md="3" md-cols-gt-lg="4"
					  md-row-height-gt-md="1:1" md-row-height="1:1"
					  md-gutter="18px" md-gutter-gt-sm="14px">
			<md-grid-tile ng-repeat="tile in vm.objectList"
						  ng-mouseenter="tile.hidden = false"
						  ng-mouseleave="tile.hidden = true"
						  md-rowspan="1"
						  md-colspan="1"
						  md-colspan-sm="1"
						  md-colspan-xs="1"
						  class="blur-content-primary"
						  style="border-radius:25px"
						  md-whiteframe="3">

				<!-- Category Tile -->
				<span ng-if="tile.name !== 'AddMVC'"
					  ng-include= "'/moho_extractor/NgIncludedHtml/?name=categoryTileBrowser'">
				</span>
				<!--/Category Tile -->

				<!-- Add MVC Tile -->
				<span ng-if="tile.name === 'AddMVC'"
					  ng-include= "'/moho_extractor/NgIncludedHtml/?name=addTileMVCMain'">
				</span>
				<!--/Add MVC Tile -->
			</md-grid-tile>
		</md-grid-list>
	</div>




	<span>
		&nbsp;&nbsp;&nbsp;
	</span>



	<div flex="30" flex-sm="30" flex-xs="30">
		<div layout="row" layout-margin layout-padding>
			<!--<span flex="5">&nbsp;</span>-->
			<button class="btn btn-outline-primary" ng-click="vm.saveUncommitedSQLToFilesystem()" ng-if="vm.serverSideChanges.length > 0">
				Save All To Filesystem
			</button>
		</div>
		<!-- Unsaved Frontend -->
		<span  ng-include= "'/moho_extractor/NgIncludedHtml/?name=unsavedFrontendSidebar'"></span>
		<!--/Unsaved Frontend -->
	</div>




	<span>
		&nbsp;&nbsp;&nbsp;&nbsp;
	</span>


</div>


<span ng-if="vm.addCatMenuIsOpen"
	  ng-include= "'/moho_extractor/NgIncludedHtml/?name=browseIDEBottomSheet'"></span>